NetisionADF/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "NetisionADF"
		},
		"blob_eventbased_properties_pipeline1_parameters_filename": {
			"type": "string",
			"defaultValue": "@triggerBody().fileName"
		},
		"blob_eventbased_properties_pipeline1_parameters_folderpath": {
			"type": "string",
			"defaultValue": "@triggerBody().folderPath"
		},
		"blob_eventbased_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/0b62f40c-406b-4239-b8ec-a3410809c3ca/resourceGroups/netison-ai-project/providers/Microsoft.Storage/storageAccounts/netisionadfblob"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/etl_turbo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "init_etl_log",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlV2Source",
								"query": "select dbo.fn_log_etl_start('etl_turbo') AS log_id;",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "PostgreSqlTable2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "assign_log_id",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "init_etl_log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_log_id",
							"value": {
								"value": "@string(activity('init_etl_log').output.firstRow.log_id)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Init_batch",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "get_file_metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlV2Source",
								"query": {
									"value": "SELECT dbo.fn_init_batch_ingestion(\n    @{variables('v_log_id')}   ,\n    '@{activity('get_file_metadata').output.itemName}'\n) AS batch_id;",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "PostgreSqlTable2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "get_file_metadata",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "assign_log_id",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Excel_files",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"columnCount",
								"itemName",
								"structure"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "assign_batch_id",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Init_batch",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_batch_id",
							"value": {
								"value": "@string(activity('Init_batch').output.firstRow.batch_id)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "load_to_stagging",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "assign_batch_id",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "OdbcSink",
								"writeBatchSize": 0
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Month",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "month",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Qtr",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "qtr",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Desc",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "description",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Channel",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "channel",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "region",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sales Qty",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sales_qty",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Gross Sales",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "gross_sales",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Normal Discount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "normal_discount",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Brand",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "brand",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sub Category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sub_category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Channel Group",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "channel_group",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sales Category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sales_category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Factory",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "factory",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Brand Group",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "brand_group",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Qty Ton",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "qty_ton",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Gross Rebates",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "gross_rebates",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Net Rebates",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "net_rebates",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Total Rebates",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "total_rebates",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Total Discount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "total_discount",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Provision Sales Return",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "provision_sales_return",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FOC",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "foc",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NSV",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "nsv",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rm",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PK",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "pk",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Other RM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "other_rm",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Other",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "other",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Material",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "material",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "COGS Prod",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cogs_prod",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DL",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "dl",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MOH",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "moh",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SC",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sc",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MOH Total",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "moh_total",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GP",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "gp",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sales",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sales",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Distribution",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "distribution",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "G&A",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "g_a",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "HO Allocation",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ho_allocation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "R&D",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "r_d",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Export",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "export",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "A&P",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "a_p",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sales Promotion",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sales_promotion",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Deferred Tax",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "deferred_tax",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Income Tax",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "income_tax",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Interest",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "interest",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Provision",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "provision",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Other Gain",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "other_gain",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sales Bouns",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sales_bouns",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "G&A Bouns",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "g_a_bouns",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "R&D Bonus",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "r_d_bonus",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Export Bonus",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "export_bonus",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Distribution Bouns",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "distribution_bouns",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DL Bouns",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "dl_bouns",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SC Bouns",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sc_bouns",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Market/IC",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "market_ic",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "YTD/YTG",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ytd_ytg",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GP Valu",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "gp_value",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GP%",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "gp_percent",
											"type": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Excel_files",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "odbc_postgresql",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "bronze_validation_layer",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "load_to_stagging",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "assign_batch_id",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OdbcSource",
								"query": {
									"value": "CALL dbo.sp_run_validations\n(\n    @{variables('v_batch_id')},\n    'dbo.stg_turbo_act_fy'\n);",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "odbc_postgresql",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Load_to_history",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "bronze_validation_layer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OdbcSource",
								"query": {
									"value": "call dbo.sp_move_to_history (\n@{variables('v_batch_id')},\n'dbo.stg_turbo_act_fy',\n'dbo.turbo_act_fy_valid_hist',\n'dbo.turbo_act_fy_invalid_hist'\n)\n",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "odbc_postgresql",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"v_log_id": {
						"type": "String"
					},
					"v_batch_id": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/etl_turbo_local_dev')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "init_etl_log",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "setvar_pipeline_name",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "setvar_pipline_enddate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlV2Source",
								"query": {
									"value": "@concat(\n'select dbo.fn_log_etl_start(''',\nvariables('var_pipeline_name'),\n''') AS log_id;'\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "PostgreSqlTable2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "assign_log_id",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "init_etl_log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_log_id",
							"value": {
								"value": "@string(activity('init_etl_log').output.firstRow.log_id)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "get_blob_file_list",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "assign_log_id",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "acuvon_excel",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "filter_turbo_files",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "get_blob_file_list",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get_blob_file_list').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@contains(item().name,pipeline().parameters.filetype)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "loop_all_turbo_files",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "filter_turbo_files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('filter_turbo_files').output.value\n",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "get_file_info",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "acuvon_excel2",
											"type": "DatasetReference",
											"parameters": {
												"pFileName": "@item().name"
											}
										},
										"fieldList": [
											"columnCount",
											"itemName"
										],
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								},
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "get_file_info",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "current_file",
										"value": {
											"value": "@concat(\n    'File=',\n    item().name,\n    ', Columns=',\n    string(activity('get_file_info').output.columnCount)\n)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "load_stagging_data",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "assign_batch_id",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"additionalColumns": [
												{
													"name": "filetype",
													"value": {
														"value": "@item().name",
														"type": "Expression"
													}
												},
												{
													"name": "batch_id",
													"value": {
														"value": "@variables('v_batch_id')",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "OdbcSink",
											"writeBatchSize": 0
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "Month",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "month",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Qtr",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "qtr",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Year",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "year",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Date",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "date",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Code",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Desc",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "description",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Channel",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "channel",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Region",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "region",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Sales Qty",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "sales_qty",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Gross Sales",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "gross_sales",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Normal Discount",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "normal_discount",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Brand",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "brand",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Category",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "category",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Sub Category",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "sub_category",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Channel Group",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "channel_group",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Sales Category",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "sales_category",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Factory",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "factory",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Brand Group",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "brand_group",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Qty Ton",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "qty_ton",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Gross Rebates",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "gross_rebates",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Net Rebates",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "net_rebates",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Total Rebates",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "total_rebates",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Total Discount",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "total_discount",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Provision Sales Return",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "provision_sales_return",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "FOC",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "foc",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "NSV",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "nsv",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "RM",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "rm",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PK",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "pk",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Other RM",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "other_rm",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Other",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "other",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Material",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "material",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "COGS Prod",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "cogs_prod",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DL",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "dl",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "MOH",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "moh",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SC",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "sc",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "MOH Total",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "moh_total",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "GP",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "gp",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Sales",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "sales",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Distribution",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "distribution",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "G&A",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "g_a",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "HO Allocation",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ho_allocation",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "R&D",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "r_d",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Export",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "export",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "A&P",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "a_p",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Sales Promotion",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "sales_promotion",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Deferred Tax",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "deferred_tax",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Income Tax",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "income_tax",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Interest",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "interest",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Provision",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "provision",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Other Gain",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "other_gain",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Sales Bouns",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "sales_bouns",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "G&A Bouns",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "g_a_bouns",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "R&D Bonus",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "r_d_bonus",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Export Bonus",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "export_bonus",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Distribution Bouns",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "distribution_bouns",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DL Bouns",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "dl_bouns",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SC Bouns",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "sc_bouns",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Market/IC",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "market_ic",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "YTD/YTG",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ytd_ytg",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "batch_id",
														"type": "String"
													},
													"sink": {
														"name": "batch_id",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "filetype",
														"type": "String"
													},
													"sink": {
														"name": "filetype",
														"type": "String"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "acuvon_excel2",
											"type": "DatasetReference",
											"parameters": {
												"pFileName": "@item().name"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "odbc_postgresql",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Init_batch",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Set variable1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "PostgreSqlV2Source",
											"query": {
												"value": "SELECT dbo.fn_init_batch_ingestion(\n    @{variables('v_log_id')}   ,\n    '@{activity('get_file_info').output.itemName}'\n) AS batch_id;",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00"
										},
										"dataset": {
											"referenceName": "PostgreSqlTable2",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "assign_batch_id",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Init_batch",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_batch_id",
										"value": {
											"value": "@string(activity('Init_batch').output.firstRow.batch_id)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "bronze_validation_layer",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "load_stagging_data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OdbcSource",
											"query": {
												"value": "SELECT *\nFROM dbo.fn_run_validations(\n    @{variables('v_batch_id')},\n    'dbo.stg_turbo'\n);",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00"
										},
										"dataset": {
											"referenceName": "odbc_postgresql",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "Load_to_history",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "bronze_validation_layer",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OdbcSource",
											"query": {
												"value": "@concat(\n'SELECT * FROM dbo.fn_move_to_history(',\nvariables('v_batch_id'),\n',''dbo.stg_turbo'',\n''dbo.turbo_valid_hist'',\n''dbo.turbo_invalid_hist'',\n''date'',\n''', pipeline().parameters.filetype, ''',\n''', variables('var_start_date'), ''',\n''', variables('var_end_date'), ''',\n',\nvariables('v_company_id'),\n',\n',\nvariables('v_business_unit_id'),\n');'\n)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00"
										},
										"dataset": {
											"referenceName": "odbc_postgresql",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								}
							]
						}
					},
					{
						"name": "Clean_stg_tables",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "init_etl_log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OdbcSource",
								"query": "Truncate table dbo.stg_turbo;\nSELECT 1;",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "odbc_postgresql",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Lookup_ETL_Config",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OdbcSource",
								"query": "select Pipeline_name,start_date,end_date + INTERVAL '1 day' as end_date from dbo.etl_configuration where isdeleted=0\n",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "odbc_postgresql",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "setvar_pipeline_name",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "servar_business_unit",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "var_pipeline_name",
							"value": {
								"value": "@activity('Lookup_ETL_Config').output.firstRow.pipeline_name",
								"type": "Expression"
							}
						}
					},
					{
						"name": "setvar_pipeline_startdate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Lookup_ETL_Config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "var_start_date",
							"value": {
								"value": "@activity('Lookup_ETL_Config').output.firstRow.start_date",
								"type": "Expression"
							}
						}
					},
					{
						"name": "setvar_pipline_enddate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "setvar_pipeline_startdate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "var_end_date",
							"value": {
								"value": "@activity('Lookup_ETL_Config').output.firstRow.end_date",
								"type": "Expression"
							}
						}
					},
					{
						"name": "load_dimension",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "loop_all_turbo_files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OdbcSource",
								"query": {
									"value": "SELECT dbo.fn_load_dimensions() AS status;",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "odbc_postgresql",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "load_fact_sales",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "load_dimension",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OdbcSource",
								"query": {
									"value": "select dbo.fn_load_fact_sales() as factsales;",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "odbc_postgresql",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "setvar_company_id",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Lookup_ETL_Config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_company_id",
							"value": {
								"value": "@pipeline().parameters.company",
								"type": "Expression"
							}
						}
					},
					{
						"name": "servar_business_unit",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "setvar_company_id",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_business_unit_id",
							"value": {
								"value": "@pipeline().parameters.business_unit",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"filetype": {
						"type": "string",
						"defaultValue": "turbo_act"
					},
					"company": {
						"type": "string",
						"defaultValue": "7001"
					},
					"business_unit": {
						"type": "string",
						"defaultValue": "9001"
					}
				},
				"variables": {
					"v_log_id": {
						"type": "String"
					},
					"v_batch_id": {
						"type": "String"
					},
					"current_file": {
						"type": "String"
					},
					"var_pipeline_name": {
						"type": "String"
					},
					"var_start_date": {
						"type": "String"
					},
					"var_end_date": {
						"type": "String"
					},
					"v_company_id": {
						"type": "String"
					},
					"v_business_unit_id": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DelimitedText1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Filter1",
						"type": "Filter",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@endswith(item().name,'.csv')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Filter1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 1,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "SqlServerSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "REF_DATE",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "REF_DATE",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "EVENT_NAME",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "EVENT_NAME",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "IDENTITY",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "IDENTITY",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "ORDR_ID",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ORDR_ID",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "ORDR_DATE",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ORDR_DATE",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "DELIVER_TIME",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "DELIVER_TIME",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "ACTUAL_SOS",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ACTUAL_SOS",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "CUST_PHONE",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "CUST_PHONE",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "CUST_EMAIL",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "CUST_EMAIL",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "SRC_NAME",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "SRC_NAME",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "ORDR_STOREID",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ORDR_STOREID",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "ORDR_STORENUM",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ORDR_STORENUM",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "ORDR_STORENAME",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ORDR_STORENAME",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "CTY_NAME",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "CTY_NAME",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "ORDR_TOTAL",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ORDR_TOTAL",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "ORDR_SUBTOTAL",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ORDR_SUBTOTAL",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "ORDR_SERVICE_CHARGE",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ORDR_SERVICE_CHARGE",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "ORDR_ORDERMODE",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ORDR_ORDERMODE",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "DISCOUNT_ID",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "DISCOUNT_ID",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "DISCOUNT_AMOUNT",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "DISCOUNT_AMOUNT",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "DISCOUNT_NAME",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "DISCOUNT_NAME",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "CON_NAME",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "CON_NAME",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "CRT_DATE",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "CRT_DATE",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "ORDR_DATEOFTRANS",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ORDR_DATEOFTRANS",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "ORDR_CHECKNO",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ORDR_CHECKNO",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "ORDR_STORE_DOB",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ORDR_STORE_DOB",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "ORDR_DISCOUNTTOTAL",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ORDR_DISCOUNTTOTAL",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "ORDR_DATE_LOC",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ORDR_DATE_LOC",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "DB_TIME_ZONE",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "DB_TIME_ZONE",
														"type": "String",
														"physicalType": "varchar"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_blob_parametrized",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@pipeline().parameters.filename",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_sqlserver",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"filename": {
						"type": "string"
					},
					"folderpath": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/postgresql_to_blob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach_table",
						"type": "ForEach",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.items",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "copy_table",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "@{item().source.schema}.@{item().source.table}"
										},
										{
											"name": "Destination",
											"value": "postgresdata//@{item().destination.fileName}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "PostgreSqlV2Source",
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings",
												"copyBehavior": "FlattenHierarchy"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "PostgreSqlTable1",
											"type": "DatasetReference",
											"parameters": {
												"p_schema": "@item().source.schema",
												"p_table": "@item().source.table"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "postgre_customer",
											"type": "DatasetReference",
											"parameters": {
												"p_fileName": "@item().destination.fileName"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"state": "Inactive",
						"onInactiveMarkAs": "Failed",
						"dependsOn": [
							{
								"activity": "ForEach_table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.items",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "blob_to_snowflake",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ParquetSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "ParquetReadSettings"
											}
										},
										"sink": {
											"type": "SnowflakeV2Sink",
											"importSettings": {
												"type": "SnowflakeImportCopyCommand",
												"additionalCopyOptions": {
													"MATCH_BY_COLUMN_NAME": "CASE_INSENSITIVE"
												}
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "postgre_customer",
											"type": "DatasetReference",
											"parameters": {
												"p_fileName": "@item().destination.fileName"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "SnowflakeTable1",
											"type": "DatasetReference",
											"parameters": {
												"p_schema": "@item().snowflake.schema",
												"p_table": "@item().snowflake.table"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://prod-01.northcentralus.logic.azure.com:443/workflows/c38afb7f2f4e4a78aaf38a212e689682/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=-o1kB99iEDZAy9tDSgncxcnllDc-NBu9vDfv6dOyaDg",
							"body": {
								"to": "rushilnanda04@gmail.com;suraj@netision.com",
								"subject": "ADF Validation Failed",
								"body": "20 records failed validation"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"items": {
						"type": "array",
						"defaultValue": [
							{
								"source": {
									"schema": "crm",
									"table": "category"
								},
								"destination": {
									"fileName": "crm.category.parquet"
								},
								"snowflake": {
									"schema": "RAW_DATA",
									"table": "CUSTOMER"
								}
							}
						]
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/rushilfuzzylookuppipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DelimitedText2",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems",
								"exists",
								"lastModified"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Filter1",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@endswith(item().name, '.csv')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Filter1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"source2": {},
									"sink1": {},
									"sink2": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_eventbased')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline1",
							"type": "PipelineReference"
						},
						"parameters": {
							"filename": "[parameters('blob_eventbased_properties_pipeline1_parameters_filename')]",
							"folderpath": "[parameters('blob_eventbased_properties_pipeline1_parameters_folderpath')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/netidevadf/blobs/websdmfiles",
					"blobPathEndsWith": ".csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('blob_eventbased_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline1')]"
			]
		}
	]
}