NetisionADF/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "NetisionADF"
		},
		"Snowflake1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Snowflake1'"
		},
		"Snowflake1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "POSTGRES_DB"
		},
		"Snowflake1_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "RRAGCXV-JR02399.snowflakecomputing.com"
		},
		"netiadfblobLS_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'netiadfblobLS'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AcuvonDataPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Filter1",
						"type": "Filter",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@startsWith(item().name,'turbo_act_fy_')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"FileName": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Snowflake1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SnowflakeV2",
				"typeProperties": {
					"authenticationType": "Basic",
					"accountIdentifier": "JR02399",
					"user": "RUSHIL",
					"database": "[parameters('Snowflake1_properties_typeProperties_database')]",
					"warehouse": "DATA_WAREHOUSE",
					"host": "[parameters('Snowflake1_properties_typeProperties_host')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Snowflake1_password')]"
					},
					"useUtcTimestamps": false
				},
				"version": "1.1"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/netiadfblobLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "this is linked services for neti adf",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('netiadfblobLS_sasUri')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/rushilVMIntegration')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/surajIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "netiadfblobLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "websdmfiles",
						"container": "netidevadf"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/netiadfblobLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "netiadfblobLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "inputdata",
						"container": "samplefile"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/netiadfblobLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "netiadfblobLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "kyc_crm_messy.csv",
						"folderPath": "inputdata",
						"container": "samplefile"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/netiadfblobLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "netiadfblobLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "kyc_master_clean.csv",
						"folderPath": "inputdata",
						"container": "samplefile"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/netiadfblobLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText6')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "netiadfblobLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "ValidData",
						"folderPath": "OutputData",
						"container": "samplefile"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/netiadfblobLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText7')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "netiadfblobLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "InvalidData",
						"container": "samplefile"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/netiadfblobLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText8')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "netiadfblobLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "egy-sdm-20260320-20260320.csv",
						"folderPath": "websdm_archive",
						"container": "netidevadf"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "REF_DATE",
						"type": "String"
					},
					{
						"name": "EVENT_NAME",
						"type": "String"
					},
					{
						"name": "IDENTITY",
						"type": "String"
					},
					{
						"name": "ORDR_ID",
						"type": "String"
					},
					{
						"name": "ORDR_DATE",
						"type": "String"
					},
					{
						"name": "DELIVER_TIME",
						"type": "String"
					},
					{
						"name": "ACTUAL_SOS",
						"type": "String"
					},
					{
						"name": "CUST_PHONE",
						"type": "String"
					},
					{
						"name": "CUST_EMAIL",
						"type": "String"
					},
					{
						"name": "SRC_NAME",
						"type": "String"
					},
					{
						"name": "ORDR_STOREID",
						"type": "String"
					},
					{
						"name": "ORDR_STORENUM",
						"type": "String"
					},
					{
						"name": "ORDR_STORENAME",
						"type": "String"
					},
					{
						"name": "CTY_NAME",
						"type": "String"
					},
					{
						"name": "ORDR_TOTAL",
						"type": "String"
					},
					{
						"name": "ORDR_SUBTOTAL",
						"type": "String"
					},
					{
						"name": "ORDR_SERVICE_CHARGE",
						"type": "String"
					},
					{
						"name": "ORDR_ORDERMODE",
						"type": "String"
					},
					{
						"name": "DISCOUNT_ID",
						"type": "String"
					},
					{
						"name": "DISCOUNT_AMOUNT",
						"type": "String"
					},
					{
						"name": "DISCOUNT_NAME",
						"type": "String"
					},
					{
						"name": "CON_NAME",
						"type": "String"
					},
					{
						"name": "CRT_DATE",
						"type": "String"
					},
					{
						"name": "ORDR_DATEOFTRANS",
						"type": "String"
					},
					{
						"name": "ORDR_CHECKNO",
						"type": "String"
					},
					{
						"name": "ORDR_STORE_DOB",
						"type": "String"
					},
					{
						"name": "ORDR_DISCOUNTTOTAL",
						"type": "String"
					},
					{
						"name": "ORDR_DATE_LOC",
						"type": "String"
					},
					{
						"name": "DB_TIME_ZONE",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/netiadfblobLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_qf9')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "netiadfblobLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_fileName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().cw_fileName",
							"type": "Expression"
						},
						"folderPath": "csvfiles",
						"container": "postgresdata"
					},
					"columnDelimiter": ",",
					"rowDelimiter": "\n",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/netiadfblobLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExcelData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "netiadfblobLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "websdmfiles",
						"container": "netidevadf"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "REF_DATE",
						"type": "String"
					},
					{
						"name": "EVENT_NAME",
						"type": "String"
					},
					{
						"name": "IDENTITY",
						"type": "String"
					},
					{
						"name": "ORDR_ID",
						"type": "String"
					},
					{
						"name": "ORDR_DATE",
						"type": "String"
					},
					{
						"name": "DELIVER_TIME",
						"type": "String"
					},
					{
						"name": "ACTUAL_SOS",
						"type": "String"
					},
					{
						"name": "CUST_PHONE",
						"type": "String"
					},
					{
						"name": "CUST_EMAIL",
						"type": "String"
					},
					{
						"name": "SRC_NAME",
						"type": "String"
					},
					{
						"name": "ORDR_STOREID",
						"type": "String"
					},
					{
						"name": "ORDR_STORENUM",
						"type": "String"
					},
					{
						"name": "ORDR_STORENAME",
						"type": "String"
					},
					{
						"name": "CTY_NAME",
						"type": "String"
					},
					{
						"name": "ORDR_TOTAL",
						"type": "String"
					},
					{
						"name": "ORDR_SUBTOTAL",
						"type": "String"
					},
					{
						"name": "ORDR_SERVICE_CHARGE",
						"type": "String"
					},
					{
						"name": "ORDR_ORDERMODE",
						"type": "String"
					},
					{
						"name": "DISCOUNT_ID",
						"type": "String"
					},
					{
						"name": "DISCOUNT_AMOUNT",
						"type": "String"
					},
					{
						"name": "DISCOUNT_NAME",
						"type": "String"
					},
					{
						"name": "CON_NAME",
						"type": "String"
					},
					{
						"name": "CRT_DATE",
						"type": "String"
					},
					{
						"name": "ORDR_DATEOFTRANS",
						"type": "String"
					},
					{
						"name": "ORDR_CHECKNO",
						"type": "String"
					},
					{
						"name": "ORDR_STORE_DOB",
						"type": "String"
					},
					{
						"name": "ORDR_DISCOUNTTOTAL",
						"type": "String"
					},
					{
						"name": "ORDR_DATE_LOC",
						"type": "String"
					},
					{
						"name": "DB_TIME_ZONE",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/netiadfblobLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Excel_files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "netiadfblobLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "turbo_act_fy_20250101.xlsx",
						"folderPath": "Atyab/Protein & Frozen",
						"container": "agethia-ingestion-data"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Month",
						"type": "String"
					},
					{
						"name": "Qtr",
						"type": "String"
					},
					{
						"name": "Year",
						"type": "String"
					},
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "Code",
						"type": "String"
					},
					{
						"name": "Desc",
						"type": "String"
					},
					{
						"name": "Channel",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "Sales Qty",
						"type": "String"
					},
					{
						"name": "Gross Sales",
						"type": "String"
					},
					{
						"name": "Normal Discount",
						"type": "String"
					},
					{
						"name": "Brand",
						"type": "String"
					},
					{
						"name": "Category",
						"type": "String"
					},
					{
						"name": "Sub Category",
						"type": "String"
					},
					{
						"name": "Channel Group",
						"type": "String"
					},
					{
						"name": "Sales Category",
						"type": "String"
					},
					{
						"name": "Factory",
						"type": "String"
					},
					{
						"name": "Brand Group",
						"type": "String"
					},
					{
						"name": "Qty Ton",
						"type": "String"
					},
					{
						"name": "Gross Rebates",
						"type": "String"
					},
					{
						"name": "Net Rebates",
						"type": "String"
					},
					{
						"name": "Total Rebates",
						"type": "String"
					},
					{
						"name": "Total Discount",
						"type": "String"
					},
					{
						"name": "Provision Sales Return",
						"type": "String"
					},
					{
						"name": "FOC",
						"type": "String"
					},
					{
						"name": "NSV",
						"type": "String"
					},
					{
						"name": "RM",
						"type": "String"
					},
					{
						"name": "PK",
						"type": "String"
					},
					{
						"name": "Other RM",
						"type": "String"
					},
					{
						"name": "Other",
						"type": "String"
					},
					{
						"name": "Material",
						"type": "String"
					},
					{
						"name": "COGS Prod",
						"type": "String"
					},
					{
						"name": "DL",
						"type": "String"
					},
					{
						"name": "MOH",
						"type": "String"
					},
					{
						"name": "SC",
						"type": "String"
					},
					{
						"name": "MOH Total",
						"type": "String"
					},
					{
						"name": "GP",
						"type": "String"
					},
					{
						"name": "Sales",
						"type": "String"
					},
					{
						"name": "Distribution",
						"type": "String"
					},
					{
						"name": "G&A",
						"type": "String"
					},
					{
						"name": "HO Allocation",
						"type": "String"
					},
					{
						"name": "R&D",
						"type": "String"
					},
					{
						"name": "Export",
						"type": "String"
					},
					{
						"name": "A&P",
						"type": "String"
					},
					{
						"name": "Sales Promotion",
						"type": "String"
					},
					{
						"name": "Deferred Tax",
						"type": "String"
					},
					{
						"name": "Income Tax",
						"type": "String"
					},
					{
						"name": "Interest",
						"type": "String"
					},
					{
						"name": "Provision",
						"type": "String"
					},
					{
						"name": "Other Gain",
						"type": "String"
					},
					{
						"name": "Sales Bouns",
						"type": "String"
					},
					{
						"name": "G&A Bouns",
						"type": "String"
					},
					{
						"name": "R&D Bonus",
						"type": "String"
					},
					{
						"name": "Export Bonus",
						"type": "String"
					},
					{
						"name": "Distribution Bouns",
						"type": "String"
					},
					{
						"name": "DL Bouns",
						"type": "String"
					},
					{
						"name": "SC Bouns",
						"type": "String"
					},
					{
						"name": "Market/IC",
						"type": "String"
					},
					{
						"name": "YTD/YTG",
						"type": "String"
					},
					{
						"name": "GP Valu",
						"type": "String"
					},
					{
						"name": "GP%",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/netiadfblobLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "netiadfblobLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "inputdata",
						"container": "samplefile"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/netiadfblobLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "netiadfblobLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "parquetfiles",
						"container": "postgresdata"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/netiadfblobLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SnowflakeTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Snowflake1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_schema": {
						"type": "string",
						"defaultValue": "@dataset().p_schema"
					},
					"p_table": {
						"type": "string",
						"defaultValue": "@dataset().p_table"
					}
				},
				"annotations": [],
				"type": "SnowflakeV2Table",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().p_schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().p_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Snowflake1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/acuvon_excel')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "netiadfblobLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "Atyab/Protein & Frozen",
						"container": "agethia-ingestion-data"
					}
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/netiadfblobLS')]"
			]
		}
	]
}