pipeline/agt-revenue_etl.json
{
	"name": "agt-revenue_etl",
	"properties": {
		"activities": [
			{
				"name": "Lookup_ETL_Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT\n    pipeline_name,\n    domain,\n    company_id,\n    business_unit_id,\n    load_type,\n    start_date,\n    end_date\nFROM config.etl_configuration\nWHERE isdeleted = 0\n  AND is_active = 1\n  AND pipeline_name = 'Revenue Pipeline'\n  AND company_id = @{pipeline().parameters.company}\n  AND business_unit_id = @{pipeline().parameters.business_unit};",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "suraj_local_sqlDS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "set_v_start_date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_ETL_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_start_date",
					"value": "@activity('Lookup_ETL_Config').output.firstRow.start_date"
				}
			},
			{
				"name": "set_v_end_date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "set_v_start_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_end_date",
					"value": {
						"value": "@activity('Lookup_ETL_Config').output.firstRow.end_date",
						"type": "Expression"
					}
				}
			},
			{
				"name": "init_log_etl",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "set_v_pipeline_name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "suraj_local_sqlsrvr",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat(\n'EXEC audit.sp_log_etl_start\n @pipeline_name=''', variables('v_pipeline_name'),\n''',\n @domain=''', variables('v_domain'),\n''',\n @company_id=', pipeline().parameters.company,\n',\n @business_unit_id=', pipeline().parameters.business_unit,\n';')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "set_v_domain",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "set_v_end_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_domain",
					"value": {
						"value": "@activity('Lookup_ETL_Config').output.firstRow.domain",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set_v_pipeline_name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "set_v_domain",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_pipeline_name",
					"value": {
						"value": "@activity('Lookup_ETL_Config').output.firstRow.pipeline_name",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set_v_log_id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "init_log_etl",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_log_id",
					"value": {
						"value": "@string(activity('init_log_etl').output.resultSets[0].rows[0].LogID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "get_blob_list",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "set_v_log_id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "csv_bloblist",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "filter_revenue_data_sheet",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "get_blob_list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_blob_list').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(\n    contains(toUpper(item().name), 'DATA'),\n    not(startsWith(item().name, '~$'))\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "loop_blob",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "filter_revenue_data_sheet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('filter_revenue_data_sheet').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "init_batch",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "get_file_name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "audit.sp_log_batch_start",
								"storedProcedureParameters": {
									"business_unit_id": {
										"value": {
											"value": "@pipeline().parameters.business_unit",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"company_id": {
										"value": {
											"value": "@pipeline().parameters.company",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"log_id": {
										"value": "@variables('v_log_id')",
										"type": "Int64"
									},
									"sheet_name": {
										"value": null,
										"type": "String"
									},
									"source_file": {
										"value": "@variables('v_file_name')",
										"type": "String"
									},
									"uploaded_by": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "suraj_local_sqlsrvr",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "get_file_name",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_file_name",
								"value": "@item().name"
							}
						},
						{
							"name": "load_turbo_data_stg",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "set_v_batch_id",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "batch_id",
											"value": {
												"value": "@variables('v_batch_id')",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "month",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "qtr",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "qtr",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "year",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "year",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "date",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "code",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "desc",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "description",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "channel",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "channel",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "region",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "region",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "sales_qty",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "sales_qty",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "gross_sales",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "gross_sales",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "normal_discount",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "normal_discount",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "brand",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "brand",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "category",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "category",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "sub_category",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "sub_category",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "channel_group",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "channel_group",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "sales_category",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "sales_category",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "factory",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "factory",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "brand_group",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "brand_group",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "qty_ton",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "qty_ton",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "gross_rebates",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "gross_rebates",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "net_rebates",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "net_rebates",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "total_rebates",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "total_rebates",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "total_discount",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "total_discount",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "provision_sales_return",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "provision_sales_return",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "foc",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "foc",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "nsv",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "nsv",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "rm",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "rm",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "pk",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "pk",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "other_rm",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "other_rm",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "other",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "other",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "material",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "material",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "cogs_prod",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "cogs_prod",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "dl",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "dl",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "moh",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "moh",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "sc",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "sc",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "moh_total",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "moh_total",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "gp",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "gp",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "sales",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "sales",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "distribution",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "distribution",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "g_and_a",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "g_a",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "ho_allocation",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ho_allocation",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "r_and_d",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "r_d",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "export",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "export",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "a_and_p",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "a_p",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "sales_promotion",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "sales_promotion",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "deferred_tax",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "deferred_tax",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "income_tax",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "income_tax",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "interest",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "interest",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "provision",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "provision",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "other_gain",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "other_gain",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "sales_bouns",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "sales_bouns",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "g_and_a_bouns",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "g_a_bouns",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "r_and_d_bonus",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "r_d_bonus",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "export_bonus",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "export_bonus",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "distribution_bouns",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "distribution_bouns",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "dl_bouns",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "dl_bouns",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "sc_bouns",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "sc_bouns",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "market_ic",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "market_ic",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "ytd_ytg",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ytd_ytg",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "batch_id",
												"type": "String"
											},
											"sink": {
												"name": "batch_id",
												"type": "Int64",
												"physicalType": "bigint"
											}
										},
										{
											"source": {
												"name": "source_filename",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "filename",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "source_sheet",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "sheetname",
												"type": "String",
												"physicalType": "varchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "clean_csv_blob",
									"type": "DatasetReference",
									"parameters": {
										"p_filename": {
											"value": "@variables('v_file_name')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "suraj_local_sqlDS_v1",
									"type": "DatasetReference",
									"parameters": {
										"p_table_name": "stg.stg_turbo_data"
									}
								}
							]
						},
						{
							"name": "set_v_batch_id",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "extract_batch_id",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_batch_id",
								"value": {
									"value": "@string(activity('extract_batch_id').output.firstRow.batch_id)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "extract_batch_id",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "init_batch",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat(\n'SELECT MAX(batch_id) AS batch_id\nFROM audit.log_batch_ingestion\nWHERE log_id = ', variables('v_log_id'),\n' AND source_file = ''', variables('v_file_name'), ''''\n)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "suraj_local_sqlDS_v1",
									"type": "DatasetReference",
									"parameters": {
										"p_table_name": "audit.log_batch_ingestion"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"company": {
				"type": "string",
				"defaultValue": "7001"
			},
			"business_unit": {
				"type": "string",
				"defaultValue": "9001"
			}
		},
		"variables": {
			"v_log_id": {
				"type": "String"
			},
			"v_batch_id": {
				"type": "String"
			},
			"v_pipeline_name": {
				"type": "String"
			},
			"v_company_id": {
				"type": "String"
			},
			"v_business_unit_id": {
				"type": "String"
			},
			"v_start_date": {
				"type": "String"
			},
			"v_end_date": {
				"type": "String"
			},
			"v_domain": {
				"type": "String"
			},
			"v_file_name": {
				"type": "String"
			}
		},
		"annotations": []
	}
}