pipeline/agt-capital-leverage-cash-wc-etl.json
{
	"name": "agt-capital-leverage-cash-wc-etl",
	"properties": {
		"activities": [
			{
				"name": "Lookup_ETL_Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT\n    pipeline_name,\n    domain,\n    company_id,\n    business_unit_id,\n    load_type,\n    start_date,\n    end_date\nFROM config.etl_configuration\nWHERE isdeleted = 0\n  AND is_active = 1\n  AND pipeline_name = 'Capital_Leverage_Cash - WorkingCapital Pipeline'\n  AND company_id = @{pipeline().parameters.company}\n  AND business_unit_id = @{pipeline().parameters.business_unit};",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "suraj_local_sqlDS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "set_v_start_date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "set_v_business_unit_id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_start_date",
					"value": "@activity('Lookup_ETL_Config').output.firstRow.start_date"
				}
			},
			{
				"name": "set_v_end_date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "set_v_start_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_end_date",
					"value": {
						"value": "@activity('Lookup_ETL_Config').output.firstRow.end_date",
						"type": "Expression"
					}
				}
			},
			{
				"name": "init_log_etl",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "set_v_pipeline_name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "suraj_local_sqlsrvr",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat(\n'EXEC audit.sp_log_etl_start\n @pipeline_name=''', variables('v_pipeline_name'),\n''',\n @domain=''', variables('v_domain'),\n''',\n @company_id=', pipeline().parameters.company,\n',\n @business_unit_id=', pipeline().parameters.business_unit,\n';')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "set_v_domain",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "set_v_end_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_domain",
					"value": {
						"value": "@activity('Lookup_ETL_Config').output.firstRow.domain",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set_v_pipeline_name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "set_v_domain",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_pipeline_name",
					"value": {
						"value": "@activity('Lookup_ETL_Config').output.firstRow.pipeline_name",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set_v_log_id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "init_log_etl",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_log_id",
					"value": {
						"value": "@string(activity('init_log_etl').output.resultSets[0].rows[0].LogID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "get_blob_list",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "set_v_log_id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "csv_workingcapital_blob",
						"type": "DatasetReference"
					},
					"fieldList": [],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "filter_revenue_data_sheet",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "get_blob_list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_blob_list').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(\n    contains(toUpper(item().name), 'DATA'),\n    not(startsWith(item().name, '~$'))\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "loop_blob",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "clean_stg_table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('filter_revenue_data_sheet').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "init_batch",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "get_file_name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "audit.sp_log_batch_start",
								"storedProcedureParameters": {
									"business_unit_id": {
										"value": {
											"value": "@pipeline().parameters.business_unit",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"company_id": {
										"value": {
											"value": "@pipeline().parameters.company",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"log_id": {
										"value": "@variables('v_log_id')",
										"type": "Int64"
									},
									"sheet_name": {
										"value": null,
										"type": "String"
									},
									"source_file": {
										"value": "@variables('v_file_name')",
										"type": "String"
									},
									"uploaded_by": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "suraj_local_sqlsrvr",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "get_file_name",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_file_name",
								"value": "@item().name"
							}
						},
						{
							"name": "load_turbo_data_stg",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "set_v_batch_id",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "batch_id",
											"value": {
												"value": "@variables('v_batch_id')",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "company",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "company",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "business_unit",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "business_unit",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "domain_name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "domain_name",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "source_name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "source_name",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "metric_group",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "metric_group",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "metric_name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "metric_name",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "metric_type",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "metric_type",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "scenario",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "scenario",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "period_name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "period_name",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "period_year",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "period_year",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "period_type",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "period_type",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "unit_of_measure",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "unit_of_measure",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "measure_value",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "measure_value",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "batch_id",
												"type": "String"
											},
											"sink": {
												"name": "batch_id",
												"type": "Int64",
												"physicalType": "bigint"
											}
										},
										{
											"source": {
												"name": "source_file",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "filename",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "sheet_name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "sheetname",
												"type": "String",
												"physicalType": "varchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "clean_csv_workingcaptial_blob",
									"type": "DatasetReference",
									"parameters": {
										"p_filename": {
											"value": "@variables('v_file_name')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sqlserver_workingcapital_DS",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "set_v_batch_id",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "extract_batch_id",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_batch_id",
								"value": {
									"value": "@string(activity('extract_batch_id').output.firstRow.batch_id)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "extract_batch_id",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "init_batch",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat(\n'SELECT MAX(batch_id) AS batch_id\nFROM audit.log_batch_ingestion\nWHERE log_id = ', variables('v_log_id'),\n' AND source_file = ''', variables('v_file_name'), ''''\n)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "suraj_local_sqlDS_v1",
									"type": "DatasetReference",
									"parameters": {
										"p_table_name": "audit.log_batch_ingestion"
									}
								}
							}
						},
						{
							"name": "clean_refine_stg_table",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "load_turbo_data_stg",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "suraj_local_sqlsrvr",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "UPDATE stg.stg_workingcapital\nSET\n    measure_value      = CAST(ROUND(ISNULL(TRY_CONVERT(DECIMAL(38,12), measure_value),0),6) AS VARCHAR(50));\n\nUPDATE stg.stg_turbo_data\nSET\n    measure_value        = CASE WHEN ABS(TRY_CONVERT(FLOAT,measure_value))        < 1E-8 THEN '0' ELSE measure_value END;"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "run_validation",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "clean_refine_stg_table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "suraj_local_sqlsrvr",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "EXEC audit.sp_run_validations\n     @batch_id = @{variables('v_batch_id')},\n     @table_name = 'stg.stg_workingcapital';",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "load_dimension",
							"type": "SqlServerStoredProcedure",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "dim.sp_load_dimensions",
								"storedProcedureParameters": {
									"batch_id": {
										"value": {
											"value": "@variables('v_batch_id')",
											"type": "Expression"
										},
										"type": "Int64"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "suraj_local_sqlsrvr",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "load_fact_revenue",
							"type": "SqlServerStoredProcedure",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "load_dimension",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "fact.sp_load_fact_revenue",
								"storedProcedureParameters": {
									"batch_id": {
										"value": {
											"value": "@variables('v_batch_id')",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"business_unit_id": {
										"value": {
											"value": "@pipeline().parameters.business_unit",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"company_id": {
										"value": {
											"value": "@pipeline().parameters.company",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"currency_id": {
										"value": "30001",
										"type": "Int64"
									},
									"log_id": {
										"value": {
											"value": "@variables('v_log_id')",
											"type": "Expression"
										},
										"type": "Int64"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "suraj_local_sqlsrvr",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "send_failure_notification_batch_pipeline",
							"type": "ExecutePipeline",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "load_fact_revenue",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "agt_etl_failure",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"p_log_id": {
										"value": "@variables('v_log_id')",
										"type": "Expression"
									},
									"p_batch_id": {
										"value": "@variables('v_batch_id')",
										"type": "Expression"
									},
									"p_file_name": {
										"value": "@variables('v_file_name')",
										"type": "Expression"
									},
									"p_activity_name": "Activity_load_fact_revenue",
									"p_error_message": {
										"value": "@variables('v_error_message')",
										"type": "Expression"
									},
									"p_pipeline_name": {
										"value": "@variables('v_pipeline_name')",
										"type": "Expression"
									},
									"p_business_unit": {
										"value": "@variables('v_business_unit_id')",
										"type": "Expression"
									},
									"p_domain": {
										"value": "@variables('v_domain')",
										"type": "Expression"
									},
									"p_company_name": {
										"value": "@variables('v_company_id')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "send_failure_notification_batch_dimension",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "load_history_table",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "agt_etl_failure",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"p_log_id": {
										"value": "@variables('v_log_id')",
										"type": "Expression"
									},
									"p_batch_id": {
										"value": "@variables('v_batch_id')",
										"type": "Expression"
									},
									"p_file_name": {
										"value": "@variables('v_file_name')",
										"type": "Expression"
									},
									"p_activity_name": "Activity_load_history_table",
									"p_error_message": {
										"value": "@variables('v_error_message')",
										"type": "Expression"
									},
									"p_pipeline_name": {
										"value": "@variables('v_pipeline_name')",
										"type": "Expression"
									},
									"p_business_unit": {
										"value": "@variables('v_business_unit_id')",
										"type": "Expression"
									},
									"p_domain": {
										"value": "@variables('v_domain')",
										"type": "Expression"
									},
									"p_company_name": {
										"value": "@variables('v_company_id')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "send_failure_notification_batch_stagging_load",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "load_turbo_data_stg",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "agt_etl_failure",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"p_log_id": {
										"value": "@variables('v_log_id')",
										"type": "Expression"
									},
									"p_batch_id": {
										"value": "@variables('v_batch_id')",
										"type": "Expression"
									},
									"p_file_name": {
										"value": "@variables('v_file_name')",
										"type": "Expression"
									},
									"p_activity_name": "Load_data_to_Stagging",
									"p_error_message": {
										"value": "@variables('v_error_message')",
										"type": "Expression"
									},
									"p_pipeline_name": {
										"value": "@variables('v_pipeline_name')",
										"type": "Expression"
									},
									"p_business_unit": {
										"value": "@variables('v_business_unit_id')",
										"type": "Expression"
									},
									"p_domain": {
										"value": "@variables('v_domain')",
										"type": "Expression"
									},
									"p_company_name": {
										"value": "@variables('v_company_id')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "mark_batch_complete",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "load_history_table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[audit].[sp_log_batch_complete_v1]",
								"storedProcedureParameters": {
									"batch_id": {
										"value": {
											"value": "@variables('v_batch_id')",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"stg_table": {
										"value": "stg.stg_workingcapital",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "suraj_local_sqlsrvr",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "load_history_table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "run_validation",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "hist.sp_move_to_history",
								"storedProcedureParameters": {
									"batch_id": {
										"value": {
											"value": "@variables('v_batch_id')",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"stg_table": {
										"value": "stg.stg_workingcapital",
										"type": "String"
									},
									"target_table": {
										"value": "hist.capital_leverage_cash_working_capital_history",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "suraj_local_sqlsrvr",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "clean_stg_table",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "filter_revenue_data_sheet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "suraj_local_sqlsrvr",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "Truncate table stg.stg_workingcapital;"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "mark_etl_success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "loop_blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "audit.sp_log_etl_complete",
					"storedProcedureParameters": {
						"log_id": {
							"value": {
								"value": "@variables('v_log_id')",
								"type": "Expression"
							},
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "suraj_local_sqlsrvr",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "send_failure_notification_pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "loop_blob",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "agt_etl_failure",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_log_id": {
							"value": "@variables('v_log_id')",
							"type": "Expression"
						},
						"p_batch_id": {
							"value": "@variables('v_batch_id')",
							"type": "Expression"
						},
						"p_file_name": {
							"value": "@variables('v_file_name')",
							"type": "Expression"
						},
						"p_activity_name": "Activity_File_Load",
						"p_error_message": {
							"value": "@variables('v_error_message')",
							"type": "Expression"
						},
						"p_pipeline_name": {
							"value": "@variables('v_pipeline_name')",
							"type": "Expression"
						},
						"p_business_unit": {
							"value": "@variables('v_business_unit_id')",
							"type": "Expression"
						},
						"p_domain": {
							"value": "@variables('v_domain')",
							"type": "Expression"
						},
						"p_company_name": {
							"value": "@variables('v_company_id')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "send_success_notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "mark_etl_success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-17.eastus2.logic.azure.com:443/workflows/8113b0ed04c342b2b75fed71a81753a9/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=am0C5K571IGUUMzeIAyi2OkPTu0aeqNxR8rjdoAwA2g",
					"body": {
						"value": "{\n    \"to\": \"suraj@netision.com\",\n    \"notificationType\": \"SUCCESS\",\n    \"subject\": \"Revenue ETL Pipeline SUCCESS\",\n    \"pipelineName\": \"@{variables('v_pipeline_name')}\",\n    \"company\": \"@{variables('v_company_id')}\",\n    \"businessUnit\": \"@{variables('v_business_unit_id')}\",\n    \"domain\": \"@{variables('v_domain')}\",\n    \"logId\": \"@{variables('v_log_id')}\",\n    \"batchId\": \"\",\n    \"sourceFile\": \"\",\n    \"status\": \"SUCCESS\",\n    \"executionTime\": \"@{utcNow()}\",\n    \"message\": \"Revenue DATA ETL pipeline execution succeeded.\",\n    \"errorMessage\": \"\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set_v_company_id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_ETL_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_start_date",
					"value": {
						"value": "@pipeline().parameters.company",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set_v_business_unit_id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "set_v_company_id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_start_date",
					"value": {
						"value": "@pipeline().parameters.business_unit",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"company": {
				"type": "string",
				"defaultValue": "7001"
			},
			"business_unit": {
				"type": "string",
				"defaultValue": "9001"
			}
		},
		"variables": {
			"v_log_id": {
				"type": "String"
			},
			"v_batch_id": {
				"type": "String"
			},
			"v_pipeline_name": {
				"type": "String",
				"defaultValue": "REVENUE - DATA pipeline ETL"
			},
			"v_company_id": {
				"type": "String"
			},
			"v_business_unit_id": {
				"type": "String"
			},
			"v_start_date": {
				"type": "String"
			},
			"v_end_date": {
				"type": "String"
			},
			"v_domain": {
				"type": "String"
			},
			"v_file_name": {
				"type": "String"
			},
			"v_error_message": {
				"type": "String"
			}
		},
		"annotations": []
	}
}