pipeline/agt-revenue_etl.json
{
	"name": "agt-revenue_etl",
	"properties": {
		"activities": [
			{
				"name": "Lookup_ETL_Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT\n    pipeline_name,\n    domain,\n    company_id,\n    business_unit_id,\n    load_type,\n    start_date,\n    end_date\nFROM config.etl_configuration\nWHERE isdeleted = 0\n  AND is_active = 1\n  AND pipeline_name = 'Revenue Pipeline'\n  AND company_id = @{pipeline().parameters.company}\n  AND business_unit_id = @{pipeline().parameters.business_unit};",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "suraj_local_sqlDS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "set_v_start_date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_ETL_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_start_date",
					"value": "@activity('Lookup_ETL_Config').output.firstRow.start_date"
				}
			},
			{
				"name": "set_v_end_date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_ETL_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_end_date",
					"value": {
						"value": "@activity('Lookup_ETL_Config').output.firstRow.end_date",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"company": {
				"type": "string",
				"defaultValue": "7001"
			},
			"business_unit": {
				"type": "string",
				"defaultValue": "9001"
			}
		},
		"variables": {
			"v_log_id": {
				"type": "String"
			},
			"v_batch_id": {
				"type": "String"
			},
			"v_pipeline_name": {
				"type": "String"
			},
			"v_company_id": {
				"type": "String"
			},
			"v_business_unit_id": {
				"type": "String"
			},
			"v_start_date": {
				"type": "String"
			},
			"v_end_date": {
				"type": "String"
			}
		},
		"annotations": []
	}
}