pipeline/agt_etl_failure.json
{
	"name": "agt_etl_failure",
	"properties": {
		"activities": [
			{
				"name": "mark_batch_failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "audit.sp_log_batch_failed",
					"storedProcedureParameters": {
						"batch_id": {
							"value": {
								"value": "@variables('v_batch_id')",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"remarks": {
							"value": {
								"value": "@concat(\n    activity('load_turbo_data_stg').name,\n    ' : ',\n    activity('load_turbo_data_stg').error.message\n)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "suraj_local_sqlsrvr",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "mark_log_etl_failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "mark_batch_failed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "audit.sp_log_etl_failed",
					"storedProcedureParameters": {
						"log_id": {
							"value": {
								"value": "@variables('v_log_id')",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"remarks": {
							"value": {
								"value": "@variables('v_error_message')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "suraj_local_sqlsrvr",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "send_fail_notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "mark_log_etl_failed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-17.eastus2.logic.azure.com:443/workflows/8113b0ed04c342b2b75fed71a81753a9/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=am0C5K571IGUUMzeIAyi2OkPTu0aeqNxR8rjdoAwA2g",
					"body": {
						"value": "{\n    \"to\": \"suraj@netision.com\",\n    \"notificationType\": \"FAILED\",\n    \"subject\": \"Revenue ETL Pipeline Failed\",\n    \"pipelineName\": \"@{variables('v_pipeline_name')}\",\n    \"company\": \"@{pipeline().parameters.company}\",\n    \"businessUnit\": \"@{pipeline().parameters.business_unit}\",\n    \"domain\": \"@{variables('v_domain')}\",\n    \"logId\": @{variables('v_log_id')},\n    \"batchId\": @{variables('v_batch_id')},\n    \"sourceFile\": \"@{variables('v_file_name')}\",\n    \"status\": \"FAILED\",\n    \"executionTime\": \"@{utcNow()}\",\n    \"message\": \"Revenue ETL pipeline execution failed.\",\n    \"errorMessage\": \"@{variables('v_error_message')}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p_log_id": {
				"type": "string"
			},
			"p_batch_id": {
				"type": "string"
			},
			"p_file_name": {
				"type": "string"
			},
			"p_activity_name": {
				"type": "string"
			},
			"p_error_message": {
				"type": "string"
			}
		},
		"annotations": []
	}
}