pipeline/etl_turbo_local_dev.json
{
	"name": "etl_turbo_local_dev",
	"properties": {
		"activities": [
			{
				"name": "init_etl_log",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "setvar_pipeline_name",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "setvar_pipline_enddate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlV2Source",
						"query": {
							"value": "@concat(\n'select dbo.fn_log_etl_start(''',\nvariables('var_pipeline_name'),\n''') AS log_id;'\n)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "PostgreSqlTable2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "assign_log_id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "init_etl_log",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_log_id",
					"value": {
						"value": "@string(activity('init_etl_log').output.firstRow.log_id)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "get_blob_file_list",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "assign_log_id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "acuvon_excel",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "filter_turbo_files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "get_blob_file_list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_blob_file_list').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name,pipeline().parameters.filetype)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "loop_all_turbo_files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "filter_turbo_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('filter_turbo_files').output.value\n",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "get_file_info",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "acuvon_excel2",
									"type": "DatasetReference",
									"parameters": {
										"pFileName": "@item().name"
									}
								},
								"fieldList": [
									"columnCount",
									"itemName"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "get_file_info",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "current_file",
								"value": {
									"value": "@concat(\n    'File=',\n    item().name,\n    ', Columns=',\n    string(activity('get_file_info').output.columnCount)\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "load_stagging_data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "assign_batch_id",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"additionalColumns": [
										{
											"name": "filetype",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										},
										{
											"name": "batch_id",
											"value": {
												"value": "@variables('v_batch_id')",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "OdbcSink",
									"writeBatchSize": 0
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Month",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Qtr",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "qtr",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Year",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "year",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "date",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Desc",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "description",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Channel",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "channel",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Region",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "region",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Sales Qty",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "sales_qty",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Gross Sales",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "gross_sales",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Normal Discount",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "normal_discount",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Brand",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "brand",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Category",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "category",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Sub Category",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "sub_category",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Channel Group",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "channel_group",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Sales Category",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "sales_category",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Factory",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "factory",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Brand Group",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "brand_group",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Qty Ton",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "qty_ton",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Gross Rebates",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "gross_rebates",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Net Rebates",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "net_rebates",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Total Rebates",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "total_rebates",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Total Discount",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "total_discount",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Provision Sales Return",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "provision_sales_return",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "FOC",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "foc",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "NSV",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "nsv",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RM",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "rm",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PK",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "pk",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Other RM",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "other_rm",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Other",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "other",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Material",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "material",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "COGS Prod",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "cogs_prod",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DL",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "dl",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MOH",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "moh",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SC",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "sc",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MOH Total",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "moh_total",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GP",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "gp",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Sales",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "sales",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Distribution",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "distribution",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "G&A",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "g_a",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "HO Allocation",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ho_allocation",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "R&D",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "r_d",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Export",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "export",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "A&P",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "a_p",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Sales Promotion",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "sales_promotion",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Deferred Tax",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "deferred_tax",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Income Tax",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "income_tax",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Interest",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "interest",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Provision",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "provision",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Other Gain",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "other_gain",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Sales Bouns",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "sales_bouns",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "G&A Bouns",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "g_a_bouns",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "R&D Bonus",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "r_d_bonus",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Export Bonus",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "export_bonus",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Distribution Bouns",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "distribution_bouns",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DL Bouns",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "dl_bouns",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SC Bouns",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "sc_bouns",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Market/IC",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "market_ic",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "YTD/YTG",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ytd_ytg",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "batch_id",
												"type": "String"
											},
											"sink": {
												"name": "batch_id",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "filetype",
												"type": "String"
											},
											"sink": {
												"name": "filetype",
												"type": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "acuvon_excel2",
									"type": "DatasetReference",
									"parameters": {
										"pFileName": "@item().name"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "odbc_postgresql",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Init_batch",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "PostgreSqlV2Source",
									"query": {
										"value": "SELECT dbo.fn_init_batch_ingestion(\n    @{variables('v_log_id')}   ,\n    '@{activity('get_file_info').output.itemName}'\n) AS batch_id;",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "PostgreSqlTable2",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "assign_batch_id",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Init_batch",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_batch_id",
								"value": {
									"value": "@string(activity('Init_batch').output.firstRow.batch_id)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "bronze_validation_layer",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "load_stagging_data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OdbcSource",
									"query": {
										"value": "SELECT *\nFROM dbo.fn_run_validations(\n    @{variables('v_batch_id')},\n    'dbo.stg_turbo'\n);",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "odbc_postgresql",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Load_to_history",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "bronze_validation_layer",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OdbcSource",
									"query": {
										"value": "@concat(\n'SELECT * FROM dbo.fn_move_to_history(',\nvariables('v_batch_id'),\n',''dbo.stg_turbo'',\n''dbo.turbo_valid_hist'',\n''dbo.turbo_invalid_hist'',\n''date'',\n''', pipeline().parameters.filetype, ''',\n''', variables('var_start_date'), ''',\n''', variables('var_end_date'), '''\n);'\n)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "odbc_postgresql",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "Clean_stg_tables",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "init_etl_log",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"query": "Truncate table dbo.stg_turbo;\nSELECT 1;",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "odbc_postgresql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookup_ETL_Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"query": "select Pipeline_name,start_date,end_date + INTERVAL '1 day' as end_date from dbo.etl_configuration where isdeleted=0\n",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "odbc_postgresql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "setvar_pipeline_name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_ETL_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_pipeline_name",
					"value": "@activity('Lookup_ETL_Config').output.firstRow.pipeline_name"
				}
			},
			{
				"name": "setvar_pipeline_startdate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_ETL_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_start_date",
					"value": "@activity('Lookup_ETL_Config').output.firstRow.start_date"
				}
			},
			{
				"name": "setvar_pipline_enddate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "setvar_pipeline_startdate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_end_date",
					"value": "@activity('Lookup_ETL_Config').output.firstRow.end_date"
				}
			},
			{
				"name": "load_dimension",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "loop_all_turbo_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"query": {
							"value": "SELECT dbo.fn_load_dimensions() AS status;",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "odbc_postgresql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "load_fact_sales",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "load_dimension",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"query": {
							"value": "select dbo.sp_load_fact_sales() as fact_sales;",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "odbc_postgresql",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"filetype": {
				"type": "string",
				"defaultValue": "turbo_act"
			},
			"company": {
				"type": "string",
				"defaultValue": "Atyab"
			},
			"business_unit": {
				"type": "string",
				"defaultValue": "Protein & Frozen"
			}
		},
		"variables": {
			"v_log_id": {
				"type": "String"
			},
			"v_batch_id": {
				"type": "String"
			},
			"current_file": {
				"type": "String"
			},
			"var_pipeline_name": {
				"type": "String"
			},
			"var_start_date": {
				"type": "String"
			},
			"var_end_date": {
				"type": "String"
			}
		},
		"annotations": []
	}
}