pipeline/etl_turbo_local_dev.json
{
	"name": "etl_turbo_local_dev",
	"properties": {
		"activities": [
			{
				"name": "init_etl_log",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlV2Source",
						"query": "select dbo.fn_log_etl_start('etl_turbo') AS log_id;",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "PostgreSqlTable2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "assign_log_id",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "init_etl_log",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_log_id",
					"value": {
						"value": "@string(activity('init_etl_log').output.firstRow.log_id)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Init_batch",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "get_file_metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlV2Source",
						"query": {
							"value": "SELECT dbo.fn_init_batch_ingestion(\n    @{variables('v_log_id')}   ,\n    '@{activity('get_file_metadata').output.itemName}'\n) AS batch_id;",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "PostgreSqlTable2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "get_file_metadata",
				"type": "GetMetadata",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Excel_files",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount",
						"itemName",
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "assign_batch_id",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Init_batch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_batch_id",
					"value": {
						"value": "@string(activity('Init_batch').output.firstRow.batch_id)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "load_to_stagging",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "assign_batch_id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "OdbcSink",
						"writeBatchSize": 0
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Month",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "month",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Qtr",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qtr",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Year",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "year",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "date",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "code",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Desc",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "description",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Channel",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "channel",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Region",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "region",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Sales Qty",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sales_qty",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Gross Sales",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "gross_sales",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Normal Discount",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "normal_discount",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Brand",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "brand",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Category",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "category",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Sub Category",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sub_category",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Channel Group",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "channel_group",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Sales Category",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sales_category",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Factory",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "factory",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Brand Group",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "brand_group",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Qty Ton",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qty_ton",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Gross Rebates",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "gross_rebates",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Net Rebates",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "net_rebates",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Total Rebates",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "total_rebates",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Total Discount",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "total_discount",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Provision Sales Return",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "provision_sales_return",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "FOC",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "foc",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "NSV",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "nsv",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "RM",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rm",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PK",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "pk",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Other RM",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "other_rm",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Other",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "other",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Material",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "material",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "COGS Prod",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "cogs_prod",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "dl",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "MOH",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "moh",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SC",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sc",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "MOH Total",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "moh_total",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "GP",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "gp",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Sales",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sales",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Distribution",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "distribution",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "G&A",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "g_a",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "HO Allocation",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ho_allocation",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "R&D",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "r_d",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Export",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "export",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "A&P",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "a_p",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Sales Promotion",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sales_promotion",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Deferred Tax",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "deferred_tax",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Income Tax",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "income_tax",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Interest",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interest",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Provision",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "provision",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Other Gain",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "other_gain",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Sales Bouns",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sales_bouns",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "G&A Bouns",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "g_a_bouns",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "R&D Bonus",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "r_d_bonus",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Export Bonus",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "export_bonus",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Distribution Bouns",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "distribution_bouns",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DL Bouns",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "dl_bouns",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SC Bouns",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sc_bouns",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Market/IC",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "market_ic",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "YTD/YTG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ytd_ytg",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "GP Valu",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "gp_value",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "GP%",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "gp_percent",
									"type": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Excel_files",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "odbc_postgresql",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "bronze_validation_layer",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "load_to_stagging",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "assign_batch_id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"query": {
							"value": "CALL dbo.sp_run_validations\n(\n    @{variables('v_batch_id')},\n    'dbo.stg_turbo_act_fy'\n);",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "odbc_postgresql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Load_to_history",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "bronze_validation_layer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"query": {
							"value": "call dbo.sp_move_to_history (\n@{variables('v_batch_id')},\n'dbo.stg_turbo_act_fy',\n'dbo.turbo_act_fy_valid_hist',\n'dbo.turbo_act_fy_invalid_hist'\n)\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "odbc_postgresql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "get_blob_file_list",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "assign_log_id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "acuvon_excel",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "filter_turbo_files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "get_blob_file_list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_blob_file_list').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startsWith(item().name,'turbo')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "loop_all_turbo_files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "filter_turbo_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter Turbo Files').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "get_file_info",
							"type": "GetMetadata",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "acuvon_excel2",
									"type": "DatasetReference",
									"parameters": {
										"pFileName": "@dataset().pFileName"
									}
								},
								"fieldList": [
									"columnCount"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"v_log_id": {
				"type": "String"
			},
			"v_batch_id": {
				"type": "String"
			}
		},
		"annotations": []
	}
}