pipeline/etl_turbo.json
{
	"name": "etl_turbo",
	"properties": {
		"activities": [
			{
				"name": "init_etl_log",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlV2Source",
						"query": "select dbo.fn_log_etl_start('etl_turbo') AS log_id;",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "PostgreSqlTable2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "assign_log_id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "init_etl_log",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_log_id",
					"value": "@string(activity('init_etl_log').output.firstRow.log_id)"
				}
			},
			{
				"name": "Init_batch",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "get_file_metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlV2Source",
						"query": {
							"value": "SELECT dbo.fn_init_batch_ingestion(\n    @{variables('v_log_id')}   ,\n    '@{activity('get_file_metadata').output.itemName}'\n) AS batch_id;",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "PostgreSqlTable2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "get_file_metadata",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "assign_log_id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Excel_files",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount",
						"itemName",
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "assign_batch_id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Init_batch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_batch_id",
					"value": {
						"value": "@string(activity('Init_batch').output.firstRow.batch_id)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "load_to_stagging",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "assign_batch_id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "OdbcSink",
						"writeBatchSize": 0
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"type": "String",
									"ordinal": 1
								},
								"sink": {
									"name": "Month",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 2
								},
								"sink": {
									"name": "Qtr",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 3
								},
								"sink": {
									"name": "Year",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 4
								},
								"sink": {
									"name": "Date",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 5
								},
								"sink": {
									"name": "Code",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 6
								},
								"sink": {
									"name": "Desc",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 7
								},
								"sink": {
									"name": "Channel",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 8
								},
								"sink": {
									"name": "Region",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 9
								},
								"sink": {
									"name": "Sales Qty",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 10
								},
								"sink": {
									"name": "Gross Sales",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 11
								},
								"sink": {
									"name": "Normal Discount",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 12
								},
								"sink": {
									"name": "Brand",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 13
								},
								"sink": {
									"name": "Category",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 14
								},
								"sink": {
									"name": "Sub Category",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 15
								},
								"sink": {
									"name": "Channel Group",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 16
								},
								"sink": {
									"name": "Sales Category",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 17
								},
								"sink": {
									"name": "Factory",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 18
								},
								"sink": {
									"name": "Brand Group",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 19
								},
								"sink": {
									"name": "Qty Ton",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 20
								},
								"sink": {
									"name": "Gross Rebates",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 21
								},
								"sink": {
									"name": "Net Rebates",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 22
								},
								"sink": {
									"name": "Total Rebates",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 23
								},
								"sink": {
									"name": "Total Discount",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 24
								},
								"sink": {
									"name": "Provision Sales Return",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 25
								},
								"sink": {
									"name": "FOC",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 26
								},
								"sink": {
									"name": "NSV",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 27
								},
								"sink": {
									"name": "RM",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 28
								},
								"sink": {
									"name": "PK",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 29
								},
								"sink": {
									"name": "Other RM",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 30
								},
								"sink": {
									"name": "Other",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 31
								},
								"sink": {
									"name": "Material",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 32
								},
								"sink": {
									"name": "COGS Prod",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 33
								},
								"sink": {
									"name": "DL",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 34
								},
								"sink": {
									"name": "MOH",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 35
								},
								"sink": {
									"name": "SC",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 36
								},
								"sink": {
									"name": "MOH Total",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 37
								},
								"sink": {
									"name": "GP",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 38
								},
								"sink": {
									"name": "Sales",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 39
								},
								"sink": {
									"name": "Distribution",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 40
								},
								"sink": {
									"name": "G&A",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 41
								},
								"sink": {
									"name": "HO Allocation",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 42
								},
								"sink": {
									"name": "R&D",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 43
								},
								"sink": {
									"name": "Export",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 44
								},
								"sink": {
									"name": "A&P",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 45
								},
								"sink": {
									"name": "Sales Promotion",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 46
								},
								"sink": {
									"name": "Deferred Tax",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 47
								},
								"sink": {
									"name": "Income Tax",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 48
								},
								"sink": {
									"name": "Interest",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 49
								},
								"sink": {
									"name": "Provision",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 50
								},
								"sink": {
									"name": "Other Gain",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 51
								},
								"sink": {
									"name": "Sales Bouns",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 52
								},
								"sink": {
									"name": "G&A Bouns",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 53
								},
								"sink": {
									"name": "R&D Bonus",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 54
								},
								"sink": {
									"name": "Export Bonus",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 55
								},
								"sink": {
									"name": "Distribution Bouns",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 56
								},
								"sink": {
									"name": "DL Bouns",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 57
								},
								"sink": {
									"name": "SC Bouns",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 58
								},
								"sink": {
									"name": "Market/IC",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 59
								},
								"sink": {
									"name": "YTD/YTG",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 60
								},
								"sink": {
									"name": "GP Valu",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 61
								},
								"sink": {
									"name": "GP%",
									"type": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Excel_files",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "odbc_postgresql",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"v_log_id": {
				"type": "String"
			},
			"v_batch_id": {
				"type": "String"
			}
		},
		"annotations": []
	}
}