pipeline/postgresql_to_blob.json
{
	"name": "postgresql_to_blob",
	"properties": {
		"activities": [
			{
				"name": "ForEach_table",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.items",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copy_table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{item().source.schema}.@{item().source.table}"
								},
								{
									"name": "Destination",
									"value": "postgresdata//@{item().destination.fileName}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "PostgreSqlV2Source",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "PostgreSqlTable1",
									"type": "DatasetReference",
									"parameters": {
										"p_schema": "@item().source.schema",
										"p_table": "@item().source.table"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "postgre_customer",
									"type": "DatasetReference",
									"parameters": {
										"p_fileName": "@item().destination.fileName"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ForEach_table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.items",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "blob_to_snowflake",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand",
										"additionalCopyOptions": {
											"MATCH_BY_COLUMN_NAME": "CASE_INSENSITIVE"
										}
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "postgre_customer",
									"type": "DatasetReference",
									"parameters": {
										"p_fileName": "@item().destination.fileName"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SnowflakeTable1",
									"type": "DatasetReference",
									"parameters": {
										"p_schema": "@item().snowflake.schema",
										"p_table": "@item().snowflake.table"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"items": {
				"type": "array",
				"defaultValue": [
					{
						"source": {
							"schema": "crm",
							"table": "category"
						},
						"destination": {
							"fileName": "crm.category.parquet"
						},
						"snowflake": {
							"schema": "RAW_DATA",
							"table": "CUSTOMER"
						}
					}
				]
			}
		},
		"annotations": []
	}
}