pipeline/Postgres_To_Blob_CSV.json
{
	"name": "Postgres_To_Blob_CSV",
	"properties": {
		"description": "Copy all tables from PostgreSQL to Blob as CSV",
		"activities": [
			{
				"name": "ForEach_qf9",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.cw_items",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_qf9",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{item().source.schema}.@{item().source.table}"
								},
								{
									"name": "Destination",
									"value": "postgresdata//@{item().destination.fileName}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "PostgreSqlV2Source"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SourceDataset_qf9",
									"type": "DatasetReference",
									"parameters": {
										"cw_schema": "@item().source.schema",
										"cw_table": "@item().source.table"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DestinationDataset_qf9",
									"type": "DatasetReference",
									"parameters": {
										"cw_fileName": "@item().destination.fileName"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "ForEach_qf9",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DestinationDataset_qf9",
						"type": "DatasetReference",
						"parameters": {
							"cw_fileName": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "postgresdata//@{'<cw_fileName>'}"
								},
								{
									"name": "Destination",
									"value": "postgresdata/parquetfiles/"
								}
							],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": "csvfiles",
										"wildcardFileName": "@item().name",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DestinationDataset_qf9",
									"type": "DatasetReference",
									"parameters": {
										"cw_fileName": "@item().name"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Parquet2",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Get Metadata2",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Parquet2",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "ParquetReadSettings"
					}
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata2",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata2').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "postgresdata/parquetfiles/"
								},
								{
									"name": "Destination",
									"value": "RAW_DATA.@{item().name}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": "parquetfiles/",
										"wildcardFileName": "@item().name",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand",
										"additionalCopyOptions": {
											"MATCH_BY_COLUMN_NAME": "CASE_INSENSITIVE"
										}
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Parquet2",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "SnowflakeTable1",
									"type": "DatasetReference",
									"parameters": {
										"tableName": "@if(   startsWith(item().name, 'public.'),   concat('Public_', replace(replace(item().name,'public.',''),'.parquet','')),   replace(replace(item().name,'crm.',''),'.parquet','') )"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"cw_items": {
				"type": "Array",
				"defaultValue": [
					{
						"source": {
							"schema": "crm",
							"table": "category"
						},
						"destination": {
							"fileName": "crm.category.csv"
						}
					},
					{
						"source": {
							"schema": "crm",
							"table": "clv_table"
						},
						"destination": {
							"fileName": "crm.clv_table.csv"
						}
					},
					{
						"source": {
							"schema": "crm",
							"table": "clv_table_old"
						},
						"destination": {
							"fileName": "crm.clv_table_old.csv"
						}
					},
					{
						"source": {
							"schema": "crm",
							"table": "customer"
						},
						"destination": {
							"fileName": "crm.customer.csv"
						}
					},
					{
						"source": {
							"schema": "crm",
							"table": "customer_shopping_data"
						},
						"destination": {
							"fileName": "crm.customer_shopping_data.csv"
						}
					},
					{
						"source": {
							"schema": "crm",
							"table": "customer_shopping_dataq"
						},
						"destination": {
							"fileName": "crm.customer_shopping_dataq.csv"
						}
					},
					{
						"source": {
							"schema": "crm",
							"table": "dim_date"
						},
						"destination": {
							"fileName": "crm.dim_date.csv"
						}
					},
					{
						"source": {
							"schema": "crm",
							"table": "fact_pos_bill"
						},
						"destination": {
							"fileName": "crm.fact_pos_bill.csv"
						}
					},
					{
						"source": {
							"schema": "crm",
							"table": "raw_customer_transactions"
						},
						"destination": {
							"fileName": "crm.raw_customer_transactions.csv"
						}
					},
					{
						"source": {
							"schema": "crm",
							"table": "raw_customer_transactions_bkp"
						},
						"destination": {
							"fileName": "crm.raw_customer_transactions_bkp.csv"
						}
					},
					{
						"source": {
							"schema": "crm",
							"table": "rfm_table"
						},
						"destination": {
							"fileName": "crm.rfm_table.csv"
						}
					},
					{
						"source": {
							"schema": "crm",
							"table": "rfm_table_old"
						},
						"destination": {
							"fileName": "crm.rfm_table_old.csv"
						}
					},
					{
						"source": {
							"schema": "crm",
							"table": "sku"
						},
						"destination": {
							"fileName": "crm.sku.csv"
						}
					},
					{
						"source": {
							"schema": "crm",
							"table": "store"
						},
						"destination": {
							"fileName": "crm.store.csv"
						}
					},
					{
						"source": {
							"schema": "crm",
							"table": "vw_customer_shopping_data"
						},
						"destination": {
							"fileName": "crm.vw_customer_shopping_data.csv"
						}
					},
					{
						"source": {
							"schema": "public",
							"table": "billing_data"
						},
						"destination": {
							"fileName": "public.billing_data.csv"
						}
					},
					{
						"source": {
							"schema": "public",
							"table": "cfg_category"
						},
						"destination": {
							"fileName": "public.cfg_category.csv"
						}
					},
					{
						"source": {
							"schema": "public",
							"table": "cfg_sku"
						},
						"destination": {
							"fileName": "public.cfg_sku.csv"
						}
					},
					{
						"source": {
							"schema": "public",
							"table": "cfg_store"
						},
						"destination": {
							"fileName": "public.cfg_store.csv"
						}
					},
					{
						"source": {
							"schema": "public",
							"table": "customer"
						},
						"destination": {
							"fileName": "public.customer.csv"
						}
					},
					{
						"source": {
							"schema": "public",
							"table": "customer_shopping_data"
						},
						"destination": {
							"fileName": "public.customer_shopping_data.csv"
						}
					},
					{
						"source": {
							"schema": "public",
							"table": "fact_pos_bill"
						},
						"destination": {
							"fileName": "public.fact_pos_bill.csv"
						}
					}
				]
			}
		},
		"annotations": []
	}
}