NetisionADF/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "NetisionADF"
		},
		"LS_PostgreSQL_Source_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_PostgreSQL_Source'"
		},
		"Odbc_postgresql_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Odbc_postgresql'"
		},
		"PostgreSql1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'PostgreSql1'"
		},
		"Snowflake1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Snowflake1'"
		},
		"SqlServer1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServer1'"
		},
		"surajIR_local_postgre_odbc_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'surajIR_local_postgre_odbc'"
		},
		"surajIR_local_postgre_odbc_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'surajIR_local_postgre_odbc'"
		},
		"surajIR_local_postgresql_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'surajIR_local_postgresql'"
		},
		"LS_PostgreSQL_Source_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "192.168.5.16"
		},
		"LS_PostgreSQL_Source_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "postgres"
		},
		"LS_PostgreSQL_Source_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "postgres"
		},
		"PostgreSql1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "192.168.5.16"
		},
		"PostgreSql1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "acuvon"
		},
		"PostgreSql1_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "postgres"
		},
		"Snowflake1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "POSTGRES_DB"
		},
		"Snowflake1_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "RRAGCXV-JR02399.snowflakecomputing.com"
		},
		"SqlServer1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-CO7ORNPR"
		},
		"SqlServer1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "DBAREA"
		},
		"SqlServer1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "superuser"
		},
		"netiadfblobLS_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'netiadfblobLS'"
		},
		"surajIR_local_postgre_odbc_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "postgres"
		},
		"surajIR_local_postgresql_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "192.168.29.58"
		},
		"surajIR_local_postgresql_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "acuvon"
		},
		"surajIR_local_postgresql_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "postgres"
		},
		"blob_eventbased_properties_pipeline1_parameters_filename": {
			"type": "string",
			"defaultValue": "@triggerBody().fileName"
		},
		"blob_eventbased_properties_pipeline1_parameters_folderpath": {
			"type": "string",
			"defaultValue": "@triggerBody().folderPath"
		},
		"blob_eventbased_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/0b62f40c-406b-4239-b8ec-a3410809c3ca/resourceGroups/netison-ai-project/providers/Microsoft.Storage/storageAccounts/netisionadfblob"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AcuvonDataPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Filter1",
						"type": "Filter",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@startsWith(item().name,'turbo_act_fy_')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"FileName": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ETL-Turbo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "init_etl_log",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlV2Source",
								"query": "select dbo.fn_log_etl_start('etl_turbo') AS log_id;",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "PostgreSqlTable2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "init_etl_log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_log_id",
							"value": {
								"value": "@string(activity('init_etl_log').output.firstRow.log_id)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Get_folder_files",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "acuvon_excel",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Filter1",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get_folder_files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get_folder_files').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@startsWith(item().name, 'turbo_')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable2",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Filter1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "FileName",
							"value": {
								"value": "@activity('Get_folder_files').output.itemName",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"v_log_id": {
						"type": "String"
					},
					"v_batch_id": {
						"type": "String"
					},
					"FileName": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PostgreSqlTable2')]",
				"[concat(variables('factoryId'), '/datasets/acuvon_excel')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_VALIDATE_FILE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DelimitedText8",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(\n    activity('Get Metadata1').output.columnCount,\n    29\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DelimitedText8",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"columnCount"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "ActualColumnCount",
							"value": {
								"value": "@activity('Get Metadata1').output.columnCount",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Get Metadata2",
						"type": "GetMetadata",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Excel_files",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"columnCount"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Get Metadata3",
						"type": "GetMetadata",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"fieldList": []
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"ActualColumnCount": {
						"type": "Integer",
						"defaultValue": 25
					},
					"ExpectedColumnCount": {
						"type": "Integer",
						"defaultValue": 2
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText8')]",
				"[concat(variables('factoryId'), '/datasets/Excel_files')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Postgres_To_Blob_CSV')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy all tables from PostgreSQL to Blob as CSV",
				"activities": [
					{
						"name": "ForEach_qf9",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.cw_items",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy_qf9",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "@{item().source.schema}.@{item().source.table}"
										},
										{
											"name": "Destination",
											"value": "postgresdata//@{item().destination.fileName}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "PostgreSqlV2Source"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings",
												"copyBehavior": "FlattenHierarchy"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".csv"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SourceDataset_qf9",
											"type": "DatasetReference",
											"parameters": {
												"cw_schema": "@item().source.schema",
												"cw_table": "@item().source.table"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DestinationDataset_qf9",
											"type": "DatasetReference",
											"parameters": {
												"cw_fileName": "@item().destination.fileName"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "ForEach_qf9",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DestinationDataset_qf9",
								"type": "DatasetReference",
								"parameters": {
									"cw_fileName": "*"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "postgresdata//@{'<cw_fileName>'}"
										},
										{
											"name": "Destination",
											"value": "postgresdata/parquetfiles/"
										}
									],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFolderPath": "csvfiles",
												"wildcardFileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings",
												"copyBehavior": "PreserveHierarchy"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DestinationDataset_qf9",
											"type": "DatasetReference",
											"parameters": {
												"cw_fileName": "@item().name"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Parquet2",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Get Metadata2",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Parquet2",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "ParquetReadSettings"
							}
						}
					},
					{
						"name": "ForEach2",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata2",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata2').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data2",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "postgresdata/parquetfiles/"
										},
										{
											"name": "Destination",
											"value": "RAW_DATA.@{item().name}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "ParquetSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFolderPath": "parquetfiles/",
												"wildcardFileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "ParquetReadSettings"
											}
										},
										"sink": {
											"type": "SnowflakeV2Sink",
											"importSettings": {
												"type": "SnowflakeImportCopyCommand",
												"additionalCopyOptions": {
													"MATCH_BY_COLUMN_NAME": "CASE_INSENSITIVE"
												}
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Parquet2",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SnowflakeTable1",
											"type": "DatasetReference",
											"parameters": {
												"p_schema": "@if(   startsWith(item().name, 'public.'),   concat('Public_', replace(replace(item().name,'public.',''),'.parquet','')),   replace(replace(item().name,'crm.',''),'.parquet','') )",
												"p_table": "@dataset().p_table"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"cw_items": {
						"type": "Array",
						"defaultValue": [
							{
								"source": {
									"schema": "crm",
									"table": "category"
								},
								"destination": {
									"fileName": "crm.category.csv"
								}
							},
							{
								"source": {
									"schema": "crm",
									"table": "clv_table"
								},
								"destination": {
									"fileName": "crm.clv_table.csv"
								}
							},
							{
								"source": {
									"schema": "crm",
									"table": "clv_table_old"
								},
								"destination": {
									"fileName": "crm.clv_table_old.csv"
								}
							},
							{
								"source": {
									"schema": "crm",
									"table": "customer"
								},
								"destination": {
									"fileName": "crm.customer.csv"
								}
							},
							{
								"source": {
									"schema": "crm",
									"table": "customer_shopping_data"
								},
								"destination": {
									"fileName": "crm.customer_shopping_data.csv"
								}
							},
							{
								"source": {
									"schema": "crm",
									"table": "customer_shopping_dataq"
								},
								"destination": {
									"fileName": "crm.customer_shopping_dataq.csv"
								}
							},
							{
								"source": {
									"schema": "crm",
									"table": "dim_date"
								},
								"destination": {
									"fileName": "crm.dim_date.csv"
								}
							},
							{
								"source": {
									"schema": "crm",
									"table": "fact_pos_bill"
								},
								"destination": {
									"fileName": "crm.fact_pos_bill.csv"
								}
							},
							{
								"source": {
									"schema": "crm",
									"table": "raw_customer_transactions"
								},
								"destination": {
									"fileName": "crm.raw_customer_transactions.csv"
								}
							},
							{
								"source": {
									"schema": "crm",
									"table": "raw_customer_transactions_bkp"
								},
								"destination": {
									"fileName": "crm.raw_customer_transactions_bkp.csv"
								}
							},
							{
								"source": {
									"schema": "crm",
									"table": "rfm_table"
								},
								"destination": {
									"fileName": "crm.rfm_table.csv"
								}
							},
							{
								"source": {
									"schema": "crm",
									"table": "rfm_table_old"
								},
								"destination": {
									"fileName": "crm.rfm_table_old.csv"
								}
							},
							{
								"source": {
									"schema": "crm",
									"table": "sku"
								},
								"destination": {
									"fileName": "crm.sku.csv"
								}
							},
							{
								"source": {
									"schema": "crm",
									"table": "store"
								},
								"destination": {
									"fileName": "crm.store.csv"
								}
							},
							{
								"source": {
									"schema": "crm",
									"table": "vw_customer_shopping_data"
								},
								"destination": {
									"fileName": "crm.vw_customer_shopping_data.csv"
								}
							},
							{
								"source": {
									"schema": "public",
									"table": "billing_data"
								},
								"destination": {
									"fileName": "public.billing_data.csv"
								}
							},
							{
								"source": {
									"schema": "public",
									"table": "cfg_category"
								},
								"destination": {
									"fileName": "public.cfg_category.csv"
								}
							},
							{
								"source": {
									"schema": "public",
									"table": "cfg_sku"
								},
								"destination": {
									"fileName": "public.cfg_sku.csv"
								}
							},
							{
								"source": {
									"schema": "public",
									"table": "cfg_store"
								},
								"destination": {
									"fileName": "public.cfg_store.csv"
								}
							},
							{
								"source": {
									"schema": "public",
									"table": "customer"
								},
								"destination": {
									"fileName": "public.customer.csv"
								}
							},
							{
								"source": {
									"schema": "public",
									"table": "customer_shopping_data"
								},
								"destination": {
									"fileName": "public.customer_shopping_data.csv"
								}
							},
							{
								"source": {
									"schema": "public",
									"table": "fact_pos_bill"
								},
								"destination": {
									"fileName": "public.fact_pos_bill.csv"
								}
							}
						]
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_qf9')]",
				"[concat(variables('factoryId'), '/datasets/Parquet2')]",
				"[concat(variables('factoryId'), '/datasets/SourceDataset_qf9')]",
				"[concat(variables('factoryId'), '/datasets/SnowflakeTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/etl_turbo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "init_etl_log",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlV2Source",
								"query": "select dbo.fn_log_etl_start('etl_turbo') AS log_id;",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "PostgreSqlTable2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "assign_log_id",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "init_etl_log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_log_id",
							"value": {
								"value": "@string(activity('init_etl_log').output.firstRow.log_id)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Init_batch",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "get_file_metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlV2Source",
								"query": {
									"value": "SELECT dbo.fn_init_batch_ingestion(\n    @{variables('v_log_id')}   ,\n    '@{activity('get_file_metadata').output.itemName}'\n) AS batch_id;",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "PostgreSqlTable2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "get_file_metadata",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "assign_log_id",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Excel_files",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"columnCount",
								"itemName",
								"structure"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "assign_batch_id",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Init_batch",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_batch_id",
							"value": {
								"value": "@string(activity('Init_batch').output.firstRow.batch_id)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "load_to_stagging",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "assign_batch_id",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "OdbcSink",
								"writeBatchSize": 0
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Month",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "month",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Qtr",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "qtr",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Desc",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "description",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Channel",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "channel",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "region",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sales Qty",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sales_qty",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Gross Sales",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "gross_sales",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Normal Discount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "normal_discount",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Brand",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "brand",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sub Category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sub_category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Channel Group",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "channel_group",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sales Category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sales_category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Factory",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "factory",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Brand Group",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "brand_group",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Qty Ton",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "qty_ton",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Gross Rebates",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "gross_rebates",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Net Rebates",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "net_rebates",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Total Rebates",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "total_rebates",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Total Discount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "total_discount",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Provision Sales Return",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "provision_sales_return",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FOC",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "foc",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NSV",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "nsv",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rm",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PK",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "pk",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Other RM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "other_rm",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Other",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "other",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Material",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "material",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "COGS Prod",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cogs_prod",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DL",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "dl",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MOH",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "moh",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SC",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sc",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MOH Total",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "moh_total",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GP",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "gp",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sales",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sales",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Distribution",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "distribution",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "G&A",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "g_a",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "HO Allocation",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ho_allocation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "R&D",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "r_d",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Export",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "export",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "A&P",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "a_p",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sales Promotion",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sales_promotion",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Deferred Tax",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "deferred_tax",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Income Tax",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "income_tax",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Interest",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "interest",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Provision",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "provision",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Other Gain",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "other_gain",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sales Bouns",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sales_bouns",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "G&A Bouns",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "g_a_bouns",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "R&D Bonus",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "r_d_bonus",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Export Bonus",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "export_bonus",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Distribution Bouns",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "distribution_bouns",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DL Bouns",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "dl_bouns",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SC Bouns",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sc_bouns",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Market/IC",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "market_ic",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "YTD/YTG",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ytd_ytg",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GP Valu",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "gp_value",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GP%",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "gp_percent",
											"type": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Excel_files",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "odbc_postgresql",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "bronze_validation_layer",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "load_to_stagging",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "assign_batch_id",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OdbcSource",
								"query": {
									"value": "CALL dbo.sp_run_validations\n(\n    @{variables('v_batch_id')},\n    'dbo.stg_turbo_act_fy'\n);",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "odbc_postgresql",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Load_to_history",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "bronze_validation_layer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OdbcSource",
								"query": {
									"value": "call dbo.sp_move_to_history (\n@{variables('v_batch_id')},\n'dbo.stg_turbo_act_fy',\n'dbo.turbo_act_fy_valid_hist',\n'dbo.turbo_act_fy_invalid_hist'\n)\n",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "odbc_postgresql",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"v_log_id": {
						"type": "String"
					},
					"v_batch_id": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PostgreSqlTable2')]",
				"[concat(variables('factoryId'), '/datasets/Excel_files')]",
				"[concat(variables('factoryId'), '/datasets/odbc_postgresql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/etl_turbo_local_dev')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "init_etl_log",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "setvar_pipeline_name",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "setvar_pipline_enddate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlV2Source",
								"query": {
									"value": "@concat(\n'select dbo.fn_log_etl_start(''',\nvariables('var_pipeline_name'),\n''') AS log_id;'\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "PostgreSqlTable2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "assign_log_id",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "init_etl_log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_log_id",
							"value": {
								"value": "@string(activity('init_etl_log').output.firstRow.log_id)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "get_blob_file_list",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "assign_log_id",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "acuvon_excel",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "filter_turbo_files",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "get_blob_file_list",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get_blob_file_list').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@contains(item().name,pipeline().parameters.filetype)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "loop_all_turbo_files",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "filter_turbo_files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('filter_turbo_files').output.value\n",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "get_file_info",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "acuvon_excel2",
											"type": "DatasetReference",
											"parameters": {
												"pFileName": "@item().name"
											}
										},
										"fieldList": [
											"columnCount",
											"itemName"
										],
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								},
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "get_file_info",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "current_file",
										"value": {
											"value": "@concat(\n    'File=',\n    item().name,\n    ', Columns=',\n    string(activity('get_file_info').output.columnCount)\n)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "load_stagging_data",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "assign_batch_id",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"additionalColumns": [
												{
													"name": "filetype",
													"value": {
														"value": "@item().name",
														"type": "Expression"
													}
												},
												{
													"name": "batch_id",
													"value": {
														"value": "@variables('v_batch_id')",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "OdbcSink",
											"writeBatchSize": 0
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "Month",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "month",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Qtr",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "qtr",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Year",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "year",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Date",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "date",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Code",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Desc",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "description",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Channel",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "channel",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Region",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "region",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Sales Qty",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "sales_qty",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Gross Sales",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "gross_sales",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Normal Discount",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "normal_discount",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Brand",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "brand",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Category",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "category",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Sub Category",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "sub_category",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Channel Group",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "channel_group",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Sales Category",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "sales_category",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Factory",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "factory",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Brand Group",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "brand_group",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Qty Ton",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "qty_ton",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Gross Rebates",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "gross_rebates",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Net Rebates",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "net_rebates",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Total Rebates",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "total_rebates",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Total Discount",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "total_discount",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Provision Sales Return",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "provision_sales_return",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "FOC",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "foc",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "NSV",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "nsv",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "RM",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "rm",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PK",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "pk",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Other RM",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "other_rm",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Other",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "other",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Material",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "material",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "COGS Prod",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "cogs_prod",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DL",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "dl",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "MOH",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "moh",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SC",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "sc",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "MOH Total",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "moh_total",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "GP",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "gp",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Sales",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "sales",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Distribution",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "distribution",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "G&A",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "g_a",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "HO Allocation",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ho_allocation",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "R&D",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "r_d",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Export",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "export",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "A&P",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "a_p",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Sales Promotion",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "sales_promotion",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Deferred Tax",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "deferred_tax",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Income Tax",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "income_tax",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Interest",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "interest",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Provision",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "provision",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Other Gain",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "other_gain",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Sales Bouns",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "sales_bouns",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "G&A Bouns",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "g_a_bouns",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "R&D Bonus",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "r_d_bonus",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Export Bonus",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "export_bonus",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Distribution Bouns",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "distribution_bouns",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DL Bouns",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "dl_bouns",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SC Bouns",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "sc_bouns",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Market/IC",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "market_ic",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "YTD/YTG",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ytd_ytg",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "batch_id",
														"type": "String"
													},
													"sink": {
														"name": "batch_id",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "filetype",
														"type": "String"
													},
													"sink": {
														"name": "filetype",
														"type": "String"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "acuvon_excel2",
											"type": "DatasetReference",
											"parameters": {
												"pFileName": "@item().name"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "odbc_postgresql",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Init_batch",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Set variable1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "PostgreSqlV2Source",
											"query": {
												"value": "SELECT dbo.fn_init_batch_ingestion(\n    @{variables('v_log_id')}   ,\n    '@{activity('get_file_info').output.itemName}'\n) AS batch_id;",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00"
										},
										"dataset": {
											"referenceName": "PostgreSqlTable2",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "assign_batch_id",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Init_batch",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_batch_id",
										"value": {
											"value": "@string(activity('Init_batch').output.firstRow.batch_id)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "bronze_validation_layer",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "load_stagging_data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OdbcSource",
											"query": {
												"value": "SELECT *\nFROM dbo.fn_run_validations(\n    @{variables('v_batch_id')},\n    'dbo.stg_turbo'\n);",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00"
										},
										"dataset": {
											"referenceName": "odbc_postgresql",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "Load_to_history",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "bronze_validation_layer",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OdbcSource",
											"query": {
												"value": "@concat(\n'SELECT * FROM dbo.fn_move_to_history(',\nvariables('v_batch_id'),\n',''dbo.stg_turbo'',\n''dbo.turbo_valid_hist'',\n''dbo.turbo_invalid_hist'',\n''date'',\n''', pipeline().parameters.filetype, ''',\n''', variables('var_start_date'), ''',\n''', variables('var_end_date'), ''',\n',\nvariables('v_company_id'),\n',\n',\nvariables('v_business_unit_id'),\n');'\n)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00"
										},
										"dataset": {
											"referenceName": "odbc_postgresql",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								}
							]
						}
					},
					{
						"name": "Clean_stg_tables",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "init_etl_log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OdbcSource",
								"query": "Truncate table dbo.stg_turbo;\nSELECT 1;",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "odbc_postgresql",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Lookup_ETL_Config",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OdbcSource",
								"query": "select Pipeline_name,start_date,end_date + INTERVAL '1 day' as end_date from dbo.etl_configuration where isdeleted=0\n",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "odbc_postgresql",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "setvar_pipeline_name",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "servar_business_unit",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "var_pipeline_name",
							"value": {
								"value": "@activity('Lookup_ETL_Config').output.firstRow.pipeline_name",
								"type": "Expression"
							}
						}
					},
					{
						"name": "setvar_pipeline_startdate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Lookup_ETL_Config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "var_start_date",
							"value": {
								"value": "@activity('Lookup_ETL_Config').output.firstRow.start_date",
								"type": "Expression"
							}
						}
					},
					{
						"name": "setvar_pipline_enddate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "setvar_pipeline_startdate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "var_end_date",
							"value": {
								"value": "@activity('Lookup_ETL_Config').output.firstRow.end_date",
								"type": "Expression"
							}
						}
					},
					{
						"name": "load_dimension",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "loop_all_turbo_files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OdbcSource",
								"query": {
									"value": "SELECT dbo.fn_load_dimensions() AS status;",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "odbc_postgresql",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "load_fact_sales",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "load_dimension",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OdbcSource",
								"query": {
									"value": "select dbo.fn_load_fact_sales() as factsales;",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "odbc_postgresql",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "setvar_company_id",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Lookup_ETL_Config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_company_id",
							"value": {
								"value": "@pipeline().parameters.company",
								"type": "Expression"
							}
						}
					},
					{
						"name": "servar_business_unit",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "setvar_company_id",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_business_unit_id",
							"value": {
								"value": "@pipeline().parameters.business_unit",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"filetype": {
						"type": "string",
						"defaultValue": "turbo_act"
					},
					"company": {
						"type": "string",
						"defaultValue": "7001"
					},
					"business_unit": {
						"type": "string",
						"defaultValue": "9001"
					}
				},
				"variables": {
					"v_log_id": {
						"type": "String"
					},
					"v_batch_id": {
						"type": "String"
					},
					"current_file": {
						"type": "String"
					},
					"var_pipeline_name": {
						"type": "String"
					},
					"var_start_date": {
						"type": "String"
					},
					"var_end_date": {
						"type": "String"
					},
					"v_company_id": {
						"type": "String"
					},
					"v_business_unit_id": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PostgreSqlTable2')]",
				"[concat(variables('factoryId'), '/datasets/acuvon_excel')]",
				"[concat(variables('factoryId'), '/datasets/odbc_postgresql')]",
				"[concat(variables('factoryId'), '/datasets/acuvon_excel2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DelimitedText1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Filter1",
						"type": "Filter",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@endswith(item().name,'.csv')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Filter1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 1,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "SqlServerSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "REF_DATE",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "REF_DATE",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "EVENT_NAME",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "EVENT_NAME",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "IDENTITY",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "IDENTITY",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "ORDR_ID",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ORDR_ID",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "ORDR_DATE",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ORDR_DATE",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "DELIVER_TIME",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "DELIVER_TIME",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "ACTUAL_SOS",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ACTUAL_SOS",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "CUST_PHONE",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "CUST_PHONE",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "CUST_EMAIL",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "CUST_EMAIL",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "SRC_NAME",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "SRC_NAME",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "ORDR_STOREID",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ORDR_STOREID",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "ORDR_STORENUM",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ORDR_STORENUM",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "ORDR_STORENAME",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ORDR_STORENAME",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "CTY_NAME",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "CTY_NAME",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "ORDR_TOTAL",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ORDR_TOTAL",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "ORDR_SUBTOTAL",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ORDR_SUBTOTAL",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "ORDR_SERVICE_CHARGE",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ORDR_SERVICE_CHARGE",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "ORDR_ORDERMODE",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ORDR_ORDERMODE",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "DISCOUNT_ID",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "DISCOUNT_ID",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "DISCOUNT_AMOUNT",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "DISCOUNT_AMOUNT",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "DISCOUNT_NAME",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "DISCOUNT_NAME",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "CON_NAME",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "CON_NAME",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "CRT_DATE",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "CRT_DATE",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "ORDR_DATEOFTRANS",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ORDR_DATEOFTRANS",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "ORDR_CHECKNO",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ORDR_CHECKNO",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "ORDR_STORE_DOB",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ORDR_STORE_DOB",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "ORDR_DISCOUNTTOTAL",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ORDR_DISCOUNTTOTAL",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "ORDR_DATE_LOC",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ORDR_DATE_LOC",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "DB_TIME_ZONE",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "DB_TIME_ZONE",
														"type": "String",
														"physicalType": "varchar"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_blob_parametrized",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@pipeline().parameters.filename",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_sqlserver",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"filename": {
						"type": "string"
					},
					"folderpath": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText1')]",
				"[concat(variables('factoryId'), '/datasets/ds_blob_parametrized')]",
				"[concat(variables('factoryId'), '/datasets/ds_sqlserver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/postgresql_to_blob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach_table",
						"type": "ForEach",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.items",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "copy_table",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "@{item().source.schema}.@{item().source.table}"
										},
										{
											"name": "Destination",
											"value": "postgresdata//@{item().destination.fileName}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "PostgreSqlV2Source",
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings",
												"copyBehavior": "FlattenHierarchy"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "PostgreSqlTable1",
											"type": "DatasetReference",
											"parameters": {
												"p_schema": "@item().source.schema",
												"p_table": "@item().source.table"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "postgre_customer",
											"type": "DatasetReference",
											"parameters": {
												"p_fileName": "@item().destination.fileName"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"state": "Inactive",
						"onInactiveMarkAs": "Failed",
						"dependsOn": [
							{
								"activity": "ForEach_table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.items",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "blob_to_snowflake",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ParquetSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "ParquetReadSettings"
											}
										},
										"sink": {
											"type": "SnowflakeV2Sink",
											"importSettings": {
												"type": "SnowflakeImportCopyCommand",
												"additionalCopyOptions": {
													"MATCH_BY_COLUMN_NAME": "CASE_INSENSITIVE"
												}
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "postgre_customer",
											"type": "DatasetReference",
											"parameters": {
												"p_fileName": "@item().destination.fileName"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "SnowflakeTable1",
											"type": "DatasetReference",
											"parameters": {
												"p_schema": "@item().snowflake.schema",
												"p_table": "@item().snowflake.table"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://prod-01.northcentralus.logic.azure.com:443/workflows/c38afb7f2f4e4a78aaf38a212e689682/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=-o1kB99iEDZAy9tDSgncxcnllDc-NBu9vDfv6dOyaDg",
							"body": {
								"to": "rushilnanda04@gmail.com;suraj@netision.com",
								"subject": "ADF Validation Failed",
								"body": "20 records failed validation"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"items": {
						"type": "array",
						"defaultValue": [
							{
								"source": {
									"schema": "crm",
									"table": "category"
								},
								"destination": {
									"fileName": "crm.category.parquet"
								},
								"snowflake": {
									"schema": "RAW_DATA",
									"table": "CUSTOMER"
								}
							}
						]
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PostgreSqlTable1')]",
				"[concat(variables('factoryId'), '/datasets/postgre_customer')]",
				"[concat(variables('factoryId'), '/datasets/SnowflakeTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/rushilfuzzylookuppipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DelimitedText2",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems",
								"exists",
								"lastModified"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Filter1",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@endswith(item().name, '.csv')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Filter1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"source2": {},
									"sink1": {},
									"sink2": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText2')]",
				"[concat(variables('factoryId'), '/dataflows/dataflow1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/rushilparquetconvertingpipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ExcelData",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Filter1",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@endswith(item().name,'.csv')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "netidevadf/websdmfiles/"
										},
										{
											"name": "Destination",
											"value": "samplefile/inputdata/"
										}
									],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFolderPath": "websdmfiles",
												"wildcardFileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings",
												"copyBehavior": "PreserveHierarchy",
												"metadata": [
													{
														"name": "fileName",
														"value": {
															"value": "@replace(item().name, '.csv', '.parquet')",
															"type": "Expression"
														}
													}
												]
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ExcelData",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "Parquet1",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ExcelData')]",
				"[concat(variables('factoryId'), '/datasets/Parquet1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "netiadfblobLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "websdmfiles",
						"container": "netidevadf"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/netiadfblobLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "netiadfblobLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "inputdata",
						"container": "samplefile"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/netiadfblobLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "netiadfblobLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "kyc_crm_messy.csv",
						"folderPath": "inputdata",
						"container": "samplefile"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/netiadfblobLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "netiadfblobLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "kyc_master_clean.csv",
						"folderPath": "inputdata",
						"container": "samplefile"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/netiadfblobLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText6')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "netiadfblobLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "ValidData",
						"folderPath": "OutputData",
						"container": "samplefile"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/netiadfblobLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText7')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "netiadfblobLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "InvalidData",
						"container": "samplefile"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/netiadfblobLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText8')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "netiadfblobLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "egy-sdm-20260320-20260320.csv",
						"folderPath": "websdm_archive",
						"container": "netidevadf"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "REF_DATE",
						"type": "String"
					},
					{
						"name": "EVENT_NAME",
						"type": "String"
					},
					{
						"name": "IDENTITY",
						"type": "String"
					},
					{
						"name": "ORDR_ID",
						"type": "String"
					},
					{
						"name": "ORDR_DATE",
						"type": "String"
					},
					{
						"name": "DELIVER_TIME",
						"type": "String"
					},
					{
						"name": "ACTUAL_SOS",
						"type": "String"
					},
					{
						"name": "CUST_PHONE",
						"type": "String"
					},
					{
						"name": "CUST_EMAIL",
						"type": "String"
					},
					{
						"name": "SRC_NAME",
						"type": "String"
					},
					{
						"name": "ORDR_STOREID",
						"type": "String"
					},
					{
						"name": "ORDR_STORENUM",
						"type": "String"
					},
					{
						"name": "ORDR_STORENAME",
						"type": "String"
					},
					{
						"name": "CTY_NAME",
						"type": "String"
					},
					{
						"name": "ORDR_TOTAL",
						"type": "String"
					},
					{
						"name": "ORDR_SUBTOTAL",
						"type": "String"
					},
					{
						"name": "ORDR_SERVICE_CHARGE",
						"type": "String"
					},
					{
						"name": "ORDR_ORDERMODE",
						"type": "String"
					},
					{
						"name": "DISCOUNT_ID",
						"type": "String"
					},
					{
						"name": "DISCOUNT_AMOUNT",
						"type": "String"
					},
					{
						"name": "DISCOUNT_NAME",
						"type": "String"
					},
					{
						"name": "CON_NAME",
						"type": "String"
					},
					{
						"name": "CRT_DATE",
						"type": "String"
					},
					{
						"name": "ORDR_DATEOFTRANS",
						"type": "String"
					},
					{
						"name": "ORDR_CHECKNO",
						"type": "String"
					},
					{
						"name": "ORDR_STORE_DOB",
						"type": "String"
					},
					{
						"name": "ORDR_DISCOUNTTOTAL",
						"type": "String"
					},
					{
						"name": "ORDR_DATE_LOC",
						"type": "String"
					},
					{
						"name": "DB_TIME_ZONE",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/netiadfblobLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_qf9')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "netiadfblobLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_fileName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().cw_fileName",
							"type": "Expression"
						},
						"folderPath": "csvfiles",
						"container": "postgresdata"
					},
					"columnDelimiter": ",",
					"rowDelimiter": "\n",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/netiadfblobLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExcelData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "netiadfblobLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "websdmfiles",
						"container": "netidevadf"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "REF_DATE",
						"type": "String"
					},
					{
						"name": "EVENT_NAME",
						"type": "String"
					},
					{
						"name": "IDENTITY",
						"type": "String"
					},
					{
						"name": "ORDR_ID",
						"type": "String"
					},
					{
						"name": "ORDR_DATE",
						"type": "String"
					},
					{
						"name": "DELIVER_TIME",
						"type": "String"
					},
					{
						"name": "ACTUAL_SOS",
						"type": "String"
					},
					{
						"name": "CUST_PHONE",
						"type": "String"
					},
					{
						"name": "CUST_EMAIL",
						"type": "String"
					},
					{
						"name": "SRC_NAME",
						"type": "String"
					},
					{
						"name": "ORDR_STOREID",
						"type": "String"
					},
					{
						"name": "ORDR_STORENUM",
						"type": "String"
					},
					{
						"name": "ORDR_STORENAME",
						"type": "String"
					},
					{
						"name": "CTY_NAME",
						"type": "String"
					},
					{
						"name": "ORDR_TOTAL",
						"type": "String"
					},
					{
						"name": "ORDR_SUBTOTAL",
						"type": "String"
					},
					{
						"name": "ORDR_SERVICE_CHARGE",
						"type": "String"
					},
					{
						"name": "ORDR_ORDERMODE",
						"type": "String"
					},
					{
						"name": "DISCOUNT_ID",
						"type": "String"
					},
					{
						"name": "DISCOUNT_AMOUNT",
						"type": "String"
					},
					{
						"name": "DISCOUNT_NAME",
						"type": "String"
					},
					{
						"name": "CON_NAME",
						"type": "String"
					},
					{
						"name": "CRT_DATE",
						"type": "String"
					},
					{
						"name": "ORDR_DATEOFTRANS",
						"type": "String"
					},
					{
						"name": "ORDR_CHECKNO",
						"type": "String"
					},
					{
						"name": "ORDR_STORE_DOB",
						"type": "String"
					},
					{
						"name": "ORDR_DISCOUNTTOTAL",
						"type": "String"
					},
					{
						"name": "ORDR_DATE_LOC",
						"type": "String"
					},
					{
						"name": "DB_TIME_ZONE",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/netiadfblobLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Excel_files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "netiadfblobLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "turbo_act_fy_20250101.xlsx",
						"folderPath": "Atyab/Protein & Frozen",
						"container": "agethia-ingestion-data"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Month",
						"type": "String"
					},
					{
						"name": "Qtr",
						"type": "String"
					},
					{
						"name": "Year",
						"type": "String"
					},
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "Code",
						"type": "String"
					},
					{
						"name": "Desc",
						"type": "String"
					},
					{
						"name": "Channel",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "Sales Qty",
						"type": "String"
					},
					{
						"name": "Gross Sales",
						"type": "String"
					},
					{
						"name": "Normal Discount",
						"type": "String"
					},
					{
						"name": "Brand",
						"type": "String"
					},
					{
						"name": "Category",
						"type": "String"
					},
					{
						"name": "Sub Category",
						"type": "String"
					},
					{
						"name": "Channel Group",
						"type": "String"
					},
					{
						"name": "Sales Category",
						"type": "String"
					},
					{
						"name": "Factory",
						"type": "String"
					},
					{
						"name": "Brand Group",
						"type": "String"
					},
					{
						"name": "Qty Ton",
						"type": "String"
					},
					{
						"name": "Gross Rebates",
						"type": "String"
					},
					{
						"name": "Net Rebates",
						"type": "String"
					},
					{
						"name": "Total Rebates",
						"type": "String"
					},
					{
						"name": "Total Discount",
						"type": "String"
					},
					{
						"name": "Provision Sales Return",
						"type": "String"
					},
					{
						"name": "FOC",
						"type": "String"
					},
					{
						"name": "NSV",
						"type": "String"
					},
					{
						"name": "RM",
						"type": "String"
					},
					{
						"name": "PK",
						"type": "String"
					},
					{
						"name": "Other RM",
						"type": "String"
					},
					{
						"name": "Other",
						"type": "String"
					},
					{
						"name": "Material",
						"type": "String"
					},
					{
						"name": "COGS Prod",
						"type": "String"
					},
					{
						"name": "DL",
						"type": "String"
					},
					{
						"name": "MOH",
						"type": "String"
					},
					{
						"name": "SC",
						"type": "String"
					},
					{
						"name": "MOH Total",
						"type": "String"
					},
					{
						"name": "GP",
						"type": "String"
					},
					{
						"name": "Sales",
						"type": "String"
					},
					{
						"name": "Distribution",
						"type": "String"
					},
					{
						"name": "G&A",
						"type": "String"
					},
					{
						"name": "HO Allocation",
						"type": "String"
					},
					{
						"name": "R&D",
						"type": "String"
					},
					{
						"name": "Export",
						"type": "String"
					},
					{
						"name": "A&P",
						"type": "String"
					},
					{
						"name": "Sales Promotion",
						"type": "String"
					},
					{
						"name": "Deferred Tax",
						"type": "String"
					},
					{
						"name": "Income Tax",
						"type": "String"
					},
					{
						"name": "Interest",
						"type": "String"
					},
					{
						"name": "Provision",
						"type": "String"
					},
					{
						"name": "Other Gain",
						"type": "String"
					},
					{
						"name": "Sales Bouns",
						"type": "String"
					},
					{
						"name": "G&A Bouns",
						"type": "String"
					},
					{
						"name": "R&D Bonus",
						"type": "String"
					},
					{
						"name": "Export Bonus",
						"type": "String"
					},
					{
						"name": "Distribution Bouns",
						"type": "String"
					},
					{
						"name": "DL Bouns",
						"type": "String"
					},
					{
						"name": "SC Bouns",
						"type": "String"
					},
					{
						"name": "Market/IC",
						"type": "String"
					},
					{
						"name": "YTD/YTG",
						"type": "String"
					},
					{
						"name": "GP Valu",
						"type": "String"
					},
					{
						"name": "GP%",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/netiadfblobLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "netiadfblobLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "inputdata",
						"container": "samplefile"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/netiadfblobLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "netiadfblobLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "parquetfiles",
						"container": "postgresdata"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/netiadfblobLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PostgreSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_PostgreSQL_Source",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_schema": {
						"type": "string"
					},
					"p_table": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "PostgreSqlV2Table",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().p_schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().p_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_PostgreSQL_Source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PostgreSqlTable2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "surajIR_local_postgresql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "PostgreSqlV2Table",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "log_etl"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/surajIR_local_postgresql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SnowflakeTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Snowflake1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_schema": {
						"type": "string",
						"defaultValue": "@dataset().p_schema"
					},
					"p_table": {
						"type": "string",
						"defaultValue": "@dataset().p_table"
					}
				},
				"annotations": [],
				"type": "SnowflakeV2Table",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().p_schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().p_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Snowflake1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_qf9')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_PostgreSQL_Source",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_schema": {
						"type": "String"
					},
					"cw_table": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "PostgreSqlV2Table",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().cw_schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_PostgreSQL_Source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/acuvon_excel')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "netiadfblobLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "Atyab/Protein & Frozen",
						"container": "agethia-ingestion-data"
					}
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/netiadfblobLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/acuvon_excel2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "netiadfblobLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pFileName": {
						"type": "string",
						"defaultValue": "turbo_bud_20260301.xlsx"
					}
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": {
						"value": "Sheet1",
						"type": "Expression"
					},
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().pFileName",
							"type": "Expression"
						},
						"folderPath": "Atyab/Protein & Frozen",
						"container": "agethia-ingestion-data"
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/netiadfblobLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob_parametrized')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "netiadfblobLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": "websdmfiles",
						"container": "netidevadf"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "REF_DATE",
						"type": "String"
					},
					{
						"name": "EVENT_NAME",
						"type": "String"
					},
					{
						"name": "IDENTITY",
						"type": "String"
					},
					{
						"name": "ORDR_ID",
						"type": "String"
					},
					{
						"name": "ORDR_DATE",
						"type": "String"
					},
					{
						"name": "DELIVER_TIME",
						"type": "String"
					},
					{
						"name": "ACTUAL_SOS",
						"type": "String"
					},
					{
						"name": "CUST_PHONE",
						"type": "String"
					},
					{
						"name": "CUST_EMAIL",
						"type": "String"
					},
					{
						"name": "SRC_NAME",
						"type": "String"
					},
					{
						"name": "ORDR_STOREID",
						"type": "String"
					},
					{
						"name": "ORDR_STORENUM",
						"type": "String"
					},
					{
						"name": "ORDR_STORENAME",
						"type": "String"
					},
					{
						"name": "CTY_NAME",
						"type": "String"
					},
					{
						"name": "ORDR_TOTAL",
						"type": "String"
					},
					{
						"name": "ORDR_SUBTOTAL",
						"type": "String"
					},
					{
						"name": "ORDR_SERVICE_CHARGE",
						"type": "String"
					},
					{
						"name": "ORDR_ORDERMODE",
						"type": "String"
					},
					{
						"name": "DISCOUNT_ID",
						"type": "String"
					},
					{
						"name": "DISCOUNT_AMOUNT",
						"type": "String"
					},
					{
						"name": "DISCOUNT_NAME",
						"type": "String"
					},
					{
						"name": "CON_NAME",
						"type": "String"
					},
					{
						"name": "CRT_DATE",
						"type": "String"
					},
					{
						"name": "ORDR_DATEOFTRANS",
						"type": "String"
					},
					{
						"name": "ORDR_CHECKNO",
						"type": "String"
					},
					{
						"name": "ORDR_STORE_DOB",
						"type": "String"
					},
					{
						"name": "ORDR_DISCOUNTTOTAL",
						"type": "String"
					},
					{
						"name": "ORDR_DATE_LOC",
						"type": "String"
					},
					{
						"name": "DB_TIME_ZONE",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/netiadfblobLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sqlserver')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "REF_DATE",
						"type": "varchar"
					},
					{
						"name": "EVENT_NAME",
						"type": "varchar"
					},
					{
						"name": "IDENTITY",
						"type": "varchar"
					},
					{
						"name": "ORDR_ID",
						"type": "varchar"
					},
					{
						"name": "ORDR_DATE",
						"type": "varchar"
					},
					{
						"name": "DELIVER_TIME",
						"type": "varchar"
					},
					{
						"name": "ACTUAL_SOS",
						"type": "varchar"
					},
					{
						"name": "CUST_PHONE",
						"type": "varchar"
					},
					{
						"name": "CUST_EMAIL",
						"type": "varchar"
					},
					{
						"name": "SRC_NAME",
						"type": "varchar"
					},
					{
						"name": "ORDR_STOREID",
						"type": "varchar"
					},
					{
						"name": "ORDR_STORENUM",
						"type": "varchar"
					},
					{
						"name": "ORDR_STORENAME",
						"type": "varchar"
					},
					{
						"name": "CTY_NAME",
						"type": "varchar"
					},
					{
						"name": "ORDR_TOTAL",
						"type": "varchar"
					},
					{
						"name": "ORDR_SUBTOTAL",
						"type": "varchar"
					},
					{
						"name": "ORDR_SERVICE_CHARGE",
						"type": "varchar"
					},
					{
						"name": "ORDR_ORDERMODE",
						"type": "varchar"
					},
					{
						"name": "DISCOUNT_ID",
						"type": "varchar"
					},
					{
						"name": "DISCOUNT_AMOUNT",
						"type": "varchar"
					},
					{
						"name": "DISCOUNT_NAME",
						"type": "varchar"
					},
					{
						"name": "CON_NAME",
						"type": "varchar"
					},
					{
						"name": "CRT_DATE",
						"type": "varchar"
					},
					{
						"name": "ORDR_DATEOFTRANS",
						"type": "varchar"
					},
					{
						"name": "ORDR_CHECKNO",
						"type": "varchar"
					},
					{
						"name": "ORDR_STORE_DOB",
						"type": "varchar"
					},
					{
						"name": "ORDR_DISCOUNTTOTAL",
						"type": "varchar"
					},
					{
						"name": "ORDR_DATE_LOC",
						"type": "varchar"
					},
					{
						"name": "DB_TIME_ZONE",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "test_websdm_file"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/odbc_postgresql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "surajIR_local_postgre_odbc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OdbcTable",
				"schema": [],
				"typeProperties": {
					"tableName": "dbo.stg_turbo"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/surajIR_local_postgre_odbc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/postgre_customer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "netiadfblobLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().p_fileName",
							"type": "Expression"
						},
						"folderPath": "postgre_customer_data",
						"container": "netidevadf"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/netiadfblobLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sds_websdm_archive')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "netiadfblobLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "websdm_archive",
						"container": "netidevadf"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/netiadfblobLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_PostgreSQL_Source')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "PostgreSqlV2",
				"typeProperties": {
					"server": "[parameters('LS_PostgreSQL_Source_properties_typeProperties_server')]",
					"port": 5432,
					"database": "[parameters('LS_PostgreSQL_Source_properties_typeProperties_database')]",
					"username": "[parameters('LS_PostgreSQL_Source_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_PostgreSQL_Source_password')]"
					},
					"sslMode": 0,
					"authenticationType": "Basic"
				},
				"connectVia": {
					"referenceName": "rushilVMIntegration",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/rushilVMIntegration')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Odbc_postgresql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Odbc",
				"typeProperties": {
					"connectionString": {
						"type": "SecureString",
						"value": "[parameters('Odbc_postgresql_connectionString')]"
					},
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "surajIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/surajIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PostgreSql1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "PostgreSqlV2",
				"typeProperties": {
					"server": "[parameters('PostgreSql1_properties_typeProperties_server')]",
					"port": 5432,
					"database": "[parameters('PostgreSql1_properties_typeProperties_database')]",
					"username": "[parameters('PostgreSql1_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('PostgreSql1_password')]"
					},
					"sslMode": 0,
					"authenticationType": "Basic"
				},
				"connectVia": {
					"referenceName": "surajIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/surajIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Snowflake1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SnowflakeV2",
				"typeProperties": {
					"authenticationType": "Basic",
					"accountIdentifier": "JR02399",
					"user": "RUSHIL",
					"database": "[parameters('Snowflake1_properties_typeProperties_database')]",
					"warehouse": "DATA_WAREHOUSE",
					"host": "[parameters('Snowflake1_properties_typeProperties_host')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Snowflake1_password')]"
					},
					"useUtcTimestamps": false
				},
				"version": "1.1"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('SqlServer1_properties_typeProperties_server')]",
					"database": "[parameters('SqlServer1_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('SqlServer1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServer1_password')]"
					}
				},
				"connectVia": {
					"referenceName": "surajIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/surajIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/netiadfblobLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "this is linked services for neti adf",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('netiadfblobLS_sasUri')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/surajIR_local_postgre_odbc')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Odbc",
				"typeProperties": {
					"connectionString": {
						"type": "SecureString",
						"value": "[parameters('surajIR_local_postgre_odbc_connectionString')]"
					},
					"authenticationType": "Basic",
					"userName": "[parameters('surajIR_local_postgre_odbc_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('surajIR_local_postgre_odbc_password')]"
					}
				},
				"connectVia": {
					"referenceName": "surajIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/surajIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/surajIR_local_postgresql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "PostgreSqlV2",
				"typeProperties": {
					"server": "[parameters('surajIR_local_postgresql_properties_typeProperties_server')]",
					"port": 5432,
					"database": "[parameters('surajIR_local_postgresql_properties_typeProperties_database')]",
					"username": "[parameters('surajIR_local_postgresql_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('surajIR_local_postgresql_password')]"
					},
					"sslMode": 0,
					"authenticationType": "Basic"
				},
				"connectVia": {
					"referenceName": "surajIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/surajIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_eventbased')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline1",
							"type": "PipelineReference"
						},
						"parameters": {
							"filename": "[parameters('blob_eventbased_properties_pipeline1_parameters_filename')]",
							"folderpath": "[parameters('blob_eventbased_properties_pipeline1_parameters_folderpath')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/netidevadf/blobs/websdmfiles",
					"blobPathEndsWith": ".csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('blob_eventbased_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/rushilVMIntegration')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/surajIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DelimitedText3",
								"type": "DatasetReference"
							},
							"name": "source1"
						},
						{
							"dataset": {
								"referenceName": "DelimitedText5",
								"type": "DatasetReference"
							},
							"name": "source2"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DelimitedText6",
								"type": "DatasetReference"
							},
							"name": "sink1",
							"rejectedDataLinkedService": {
								"referenceName": "netiadfblobLS",
								"type": "LinkedServiceReference"
							}
						},
						{
							"dataset": {
								"referenceName": "DelimitedText7",
								"type": "DatasetReference"
							},
							"name": "sink2",
							"rejectedDataLinkedService": {
								"referenceName": "netiadfblobLS",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "join1"
						},
						{
							"name": "AddMatchPercent"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "SplitByScore"
						}
					],
					"scriptLines": [
						"source(output(",
						"          CustomerID as string,",
						"          CustomerName as string,",
						"          DateOfBirth as date,",
						"          City as string,",
						"          AccountType as string,",
						"          PAN as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source(output(",
						"          CustomerID as string,",
						"          CustomerName as string,",
						"          DateOfBirth as date,",
						"          City as string,",
						"          AccountType as string,",
						"          PAN as string,",
						"          CreditScore as short,",
						"          AnnualIncomeLakh as double,",
						"          KYCStatus as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source2",
						"source1, source2 join(source1@CustomerName == source2@CustomerName,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"source1, source2 join(fuzzyCompare(source1@CustomerName, source2@CustomerName, 90.00),",
						"     joinType:'inner',",
						"     matchType:'fuzzy',",
						"     ignoreSpaces: false,",
						"     scoreColumn:'match_score',",
						"     broadcast: 'off')~> AddMatchPercent",
						"AddMatchPercent derive(match_percentage = match_score) ~> derivedColumn1",
						"derivedColumn1 split(match_score >= 91,",
						"     disjoint: false) ~> SplitByScore@(ValidMatches, InvalidMatches)",
						"SplitByScore@ValidMatches sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1",
						"SplitByScore@InvalidMatches sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink2"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText3')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText5')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText6')]",
				"[concat(variables('factoryId'), '/linkedServices/netiadfblobLS')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText7')]"
			]
		}
	]
}